<nb-card class="actions-card">
    <nb-card-header>{{pageNavigation}}
        <ngx-common-button (click)="ButtonAction()"></ngx-common-button>
    </nb-card-header>
</nb-card>

<nb-card *ngIf="show" hidden>
    <nb-card-header class="text-right">
        <ngx-common-action (click)="agButtonAction()"></ngx-common-action>
    </nb-card-header>
    <nb-card-body>
        <div class="grid-wrapper">
            <div class="row">
                <!-- <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label" for="month">From Month<span>*</span></label>
                        <div class="col-sm-6">
                            <ng-select nbselect (change)="( master.month = this.$event.id);" [items]="monthList"
                                bindLabel="name" [ngModelOptions]="{standalone: true}" name="fromMonth" id="month"
                                placeholder="Select a month" appendTo="body" [(ngModel)]="monthSelected">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="tDate">To
                            Date <span>*</span></label>
                        <div class="col-sm-8">
                            <input required [(ngModel)]="tDate" (ngModelChange)="LoadData();" name="tDate" id="tDate"
                                [nbDatepicker]="tdatepicker" nbInput fullWidth placeholder="To Date"
                                [ngModelOptions]="{standalone: true}">
                            <nb-datepicker #tdatepicker></nb-datepicker>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <button style="text-align: right;" nbButton (click)="LoadData();">Search</button>
                    </div>
                </div> -->
            </div>
            <ag-grid-angular #agGrid style="height: 500px;" id="myGrid" class="ag-theme-alpine" [modules]="modules"
                [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [debug]="true" [rowData]="rowData"
                [frameworkComponents]="frameworkComponents" (gridReady)="onGridReady($event)"
                (rowClicked)="onRowClicked($event)" rowSelection="multiple" pagination='true'>
            </ag-grid-angular>
        </div>
    </nb-card-body>
</nb-card>

<nb-card *ngIf="!show">
    <nb-card-header>
        <fieldset [disabled]="disabled ? 'disabled' : null">
            <form #masterForm="ngForm">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label" for="month">Month<span>*</span></label>
                            <div class="col-sm-6">
                                <ng-select nbselect (change)="( master.month = this.$event.id);loadSelect();"
                                    [items]="monthList" bindLabel="name" [ngModelOptions]="{standalone: true}"
                                    name="fromMonth" id="month" placeholder="Select a month" appendTo="body"
                                    [(ngModel)]="master.monthSelected">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="year">Year <span>*</span></label>
                            <div class="col-sm-6">
                                <input type="text" min="0" class="form-control text-left" required
                                    [(ngModel)]="master.year" id="year" name="year" nbInput fullWidth placeholder="Year"
                                    (input)="loadSelect();validateYear()">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group row">
                            <label for="productCategoryId" class="col-sm-4 col-form-label">Category <span
                                    style="color: red;">*</span></label>
                            <div class="col-sm-6">
                                <ng-select nbselect
                                    (change)="(master.productCategoryId = this.$event.id);loadProduct();"
                                    [items]="productCategoryList" name="productCategoryId" bindLabel="name"
                                    [ngModelOptions]="{standalone: true}" id="productCategoryId"
                                    placeholder="Select Product Category" appendTo="body"
                                    [(ngModel)]="master.productCategorySelected">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </fieldset>
    </nb-card-header>
    <nb-card-body>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table id="simple_table" class="table table-bordered table-striped mb-0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of master.lstDetailsViewModel; let i = index;">
                        <td>{{i+1}}</td>
                        <td>{{item.productName}}</td>
                        <td>
                            <nb-checkbox [(ngModel)]="item.isChecked" name="isChecked" status="success">
                                <b></b>
                            </nb-checkbox>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </nb-card-body>
</nb-card>