<nb-card class="actions-card">
    <nb-card-header>{{pageNavigation}}
        <ngx-common-button (click)="ButtonAction()"></ngx-common-button>
    </nb-card-header>
</nb-card>

<nb-card *ngIf="show">
    <nb-card-header class="text-right">
        <ngx-common-action (click)="agButtonAction()"></ngx-common-action>
    </nb-card-header>
    <nb-card-body>
        <div class="grid-wrapper">
            <ag-grid-angular #agGrid style="height: 500px;" id="myGrid" class="ag-theme-alpine" [modules]="modules"
                [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [debug]="true" [rowData]="rowData"
                [frameworkComponents]="frameworkComponents" (gridReady)="onGridReady($event)"
                (rowClicked)="onRowClicked($event)" rowSelection="multiple" pagination='true'>
            </ag-grid-angular>
        </div>
    </nb-card-body>
</nb-card>

<nb-card *ngIf="!show">
    <nb-card-header>
        <fieldset [disabled]="disabled ? 'disabled' : null">
            <form #masterForm="ngForm">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <div class="form-group row">
                            <label for="moduleName" class="col-sm-3 col-form-label">Module Name <span>*</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" required [(ngModel)]="master.moduleName"
                                    id="moduleName" name="moduleName" nbInput fullWidth placeholder="Module Name">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="description ">Description <span>*</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" required [(ngModel)]="master.description"
                                    id="description" name="description" nbInput fullWidth placeholder="Description">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="imageURL">Image Url <span>*</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" required [(ngModel)]="master.imageURL"
                                    id="imageURL " name="imageURL" nbInput fullWidth placeholder="Image URL">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="modulePath">Module Path <span>*</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" required [(ngModel)]="master.modulePath"
                                    id="modulePath " name="modulePath" nbInput fullWidth placeholder="Module Path">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="sequence">Sequence <span>*</span></label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" required [(ngModel)]="master.sequence"
                                    id="sequence " name="sequence" nbInput fullWidth placeholder="Sequence">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label" for="isActive">Is Active? </label>
                            <div class="col-sm-6 validation-checkboxes">
                                <nb-checkbox [(ngModel)]="master.isActive" name="checkbox" status="success">
                                </nb-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </nb-card-header>
</nb-card>