<button value="view" *ngIf="buttons[8].status" class="btn {{ buttons[8].class }} btn-sm float-right ml-1"
    (click)="valueSet(buttons[8].value)"><i class="{{ buttons[8].title }}" aria-hidden="true"></i></button>
<button *ngIf="buttons[9].status" class="btn {{ buttons[9].class }} btn-sm float-right ml-1"
    (click)="valueSet(buttons[9].value)"><i class="{{ buttons[9].title }}" aria-hidden="true"></i></button>
<button *ngIf="buttons[10].status" class="btn {{ buttons[10].class }} btn-sm float-right ml-1"
    (click)="valueSet(buttons[10].value)"><i class="{{ buttons[10].title }}" aria-hidden="true"></i></button>
<button *ngIf="buttons[11].status" class="btn {{ buttons[11].class }} btn-sm float-right ml-1"
    (click)="valueSet(buttons[11].value)"><i class="{{ buttons[11].title }}" aria-hidden="true"></i></button>