<nb-card class="actions-card">
    <nb-card-header>{{pageNavigation}}
        <ngx-common-button (click)="ButtonAction()"></ngx-common-button>
    </nb-card-header>
</nb-card>

<nb-card *ngIf="show">
    <nb-card-header class="text-right">
        <ngx-common-action (click)="agButtonAction()"></ngx-common-action>
    </nb-card-header>
    <nb-card-body>
        <div class="grid-wrapper">
            <div class="row" hidden>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="fDate">From
                            Date <span>*</span></label>
                        <div class="col-sm-8">
                            <input required [(ngModel)]="fDate" (ngModelChange)="LoadData();" name="fDate" id="fDate"
                                [nbDatepicker]="fdatepicker" nbInput fullWidth placeholder="From Date"
                                [ngModelOptions]="{standalone: true}">
                            <nb-datepicker #fdatepicker></nb-datepicker>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="tDate">To
                            Date <span>*</span></label>
                        <div class="col-sm-8">
                            <input required [(ngModel)]="tDate" (ngModelChange)="LoadData();" name="tDate" id="tDate"
                                [nbDatepicker]="tdatepicker" nbInput fullWidth placeholder="To Date"
                                [ngModelOptions]="{standalone: true}">
                            <nb-datepicker #tdatepicker></nb-datepicker>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <button style="text-align: right;" nbButton (click)="LoadData();">Load Data</button>
                    </div>
                </div>
            </div>
            <ag-grid-angular #agGrid style="height: 500px;" id="myGrid" class="ag-theme-alpine" [modules]="modules"
                [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [debug]="true" [rowData]="rowData"
                [frameworkComponents]="frameworkComponents" (gridReady)="onGridReady($event)"
                (rowClicked)="onRowClicked($event)" rowSelection="multiple" pagination='true'>
            </ag-grid-angular>
        </div>
    </nb-card-body>
</nb-card>

<nb-card *ngIf="!show">
    <nb-card-header>
        <fieldset [disabled]="disabled ? 'disabled' : null">
            <form #masterForm="ngForm">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label" for="taskPriority">Team Lead
                                Name<span>*</span></label>
                            <div class="col-sm-12">
                                <ng-select nbselect (change)="( master.teamLeaderId = this.$event.id);"
                                    [items]="assignToList" bindLabel="name" [ngModelOptions]="{standalone: true}"
                                    name="teamLeaderId" id="teamLeaderId" placeholder="Select a employee"
                                    appendTo="body" [(ngModel)]="teamLeaderSelected">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label" for="teamName">Task Name <span>*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" required [(ngModel)]="master.teamName"
                                    id="teamName" name="teamName" nbInput fullWidth placeholder="Task Name">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label" for="teamCode">Team Code <span>*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" required [(ngModel)]="master.teamCode"
                                    id="teamCode" name="teamCode" nbInput fullWidth placeholder="task code">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label" for="description">Description <span>*</span></label>
                            <div class="col-sm-12">
                                <textarea type="text" class="form-control" required [(ngModel)]="master.description"
                                    id="description" name="description" nbInput fullWidth
                                    placeholder="description">{{master.description}}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group row">
                            <div class="col-sm-12 validation-checkboxes">
                                <nb-checkbox [(ngModel)]="master.isActive" name="isActive" status="success">
                                    <b>Is Team Active?</b>
                                </nb-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="form-group row">
                    <label class="col-sm-12 col-form-label" for="taskPriority">Team Member
                        Name<span>*</span></label>
                    <div class="col-sm-12">
                        <ng-select nbselect (change)="(employeeId = this.$event.id);" [items]="assignToList"
                            bindLabel="name" [ngModelOptions]="{standalone: true}" name="employeeId" id="employeeId"
                            placeholder="Select a member" appendTo="body" [(ngModel)]="memberSelected">
                        </ng-select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="form-group row">
                    <div class="col-sm-12 validation-checkboxes">
                        <nb-checkbox [(ngModel)]="isMemberActive" name="isMemberActive" status="success">
                            <b>Is Member Active?</b>
                        </nb-checkbox>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <div style="text-align: center !important;">
                            <button class="btn btn-success btn-sm m-3" (click)="addRow()">Add To List</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table id="simple_table" class="table table-bordered table-striped mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Team member Name</th>
                                <th>Is Member Active?</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of master.lstTaskTeamDetails; let i = index;">
                                <td>{{i+1}}</td>
                                <td>{{item.teamMemberName}}</td>
                                <td>
                                    <nb-checkbox [(ngModel)]="item.isActive" name="isActive" status="success">
                                    </nb-checkbox>
                                </td>
                                <td>
                                    <button (click)="removeRow(rowIndex, item.teamMemberName)"
                                        class="btn btn-danger btn-sm m-1">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>