<nb-card class="actions-card">
    <nb-card-header>{{pageNavigation}}
        <ngx-common-button (click)="ButtonAction()"></ngx-common-button>
    </nb-card-header>
</nb-card>

<nb-card *ngIf="show">
    <nb-card-header class="text-right">
        <ngx-common-action (click)="agButtonAction()"></ngx-common-action>
    </nb-card-header>
    <nb-card-body>
        <div class="grid-wrapper">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="fDate">From
                            Date <span>*</span></label>
                        <div class="col-sm-8">
                            <input required [(ngModel)]="fDate" (ngModelChange)="LoadData();" name="fDate" id="fDate"
                                [nbDatepicker]="fdatepicker" nbInput fullWidth placeholder="From Date"
                                [ngModelOptions]="{standalone: true}">
                            <nb-datepicker #fdatepicker></nb-datepicker>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="tDate">To
                            Date <span>*</span></label>
                        <div class="col-sm-8">
                            <input required [(ngModel)]="tDate" (ngModelChange)="LoadData();" name="tDate" id="tDate"
                                [nbDatepicker]="tdatepicker" nbInput fullWidth placeholder="To Date"
                                [ngModelOptions]="{standalone: true}">
                            <nb-datepicker #tdatepicker></nb-datepicker>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <button style="text-align: right;" nbButton (click)="LoadData();">Search</button>
                    </div>
                </div>
            </div>
            <ag-grid-angular #agGrid style="height: 500px;" id="myGrid" class="ag-theme-alpine" [modules]="modules"
                [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [debug]="true" [rowData]="rowData"
                [frameworkComponents]="frameworkComponents" (gridReady)="onGridReady($event)"
                (rowClicked)="onRowClicked($event)" rowSelection="multiple" pagination='true'>
            </ag-grid-angular>
        </div>
    </nb-card-body>
</nb-card>

<nb-card *ngIf="!show">
    <nb-card-header>
        <fieldset [disabled]="disabled ? 'disabled' : null">
            <form #masterForm="ngForm">
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label" for="effectiveDate">Effective
                                From Date <span>*</span></label>
                            <div class="col-sm-6">
                                <input required [(ngModel)]="master.effectiveDate" name="effectiveDate"
                                    id="effectiveDate" [nbDatepicker]="idatepicker" nbInput fullWidth placeholder="Date"
                                    [ngModelOptions]="{standalone: true}">
                                <nb-datepicker #idatepicker></nb-datepicker>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label" for="toDate">To Date <span>*</span></label>
                            <div class="col-sm-6">
                                <input required [(ngModel)]="master.toDate" name="toDate" id="toDate"
                                    [nbDatepicker]="idatepickerT" nbInput fullWidth placeholder="Date"
                                    [ngModelOptions]="{standalone: true}">
                                <nb-datepicker #idatepickerT></nb-datepicker>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group row">
                            <div class="col-sm-12 validation-checkboxes">
                                <nb-checkbox [(ngModel)]="master.isActive" name="isActive" status="success">
                                    <b>Is Active?</b>
                                </nb-checkbox>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="productWiseSpecificationId">Product Spec.
                                Name<span>*</span> </label>
                            <div class="col-sm-9">
                                <!-- style="width: 85%;" -->
                                <ng-select nbselect
                                    (change)="( master.productWiseSpecificationId = this.$event.id);(master.uom= this.$event.uom);"
                                    [items]="productList" bindLabel="name" [ngModelOptions]="{standalone: true}"
                                    name="productWiseSpecificationId" id="productWiseSpecificationId"
                                    placeholder="Select a product" appendTo="body" [(ngModel)]="productSelected">
                                </ng-select>
                                <!-- <span style="width: 100%;"> {{master.uom}}</span> -->
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-4 col-md-4 col-sm-4">
                        <!-- <div class="form-group row">
                            <label class="col-sm-6 col-form-label" for="uom">UOM <span>*</span></label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control text-right" required [(ngModel)]="master.uom"
                                    id="uom" name="uom" readonly nbInput fullWidth placeholder="uom">
                            </div>
                        </div> -->
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label" for="collUpToDays">Collection Up To Days
                                <span>*</span></label>
                            <div class="col-sm-6">
                                <input type="number" min="0" class="form-control text-right" required
                                    [(ngModel)]="master.collUpToDays" id="collUpToDays" name="collUpToDays" nbInput
                                    fullWidth placeholder="coll. Up To Days">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label" for="incentiveValue">Minimum Order Qty.
                                <span>*</span></label>
                            <div class="col-sm-6">
                                <input type="number" min="0" class="form-control text-right" required
                                    [(ngModel)]="master.minOrderQty" id="minOrderQty" name="incentiveValue" nbInput
                                    fullWidth placeholder="Minimum Order Qty.">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label" for="incentiveType">Incentive
                                Type<span>*</span></label>
                            <div class="col-sm-6">
                                <ng-select nbselect (change)="( master.incentiveType = this.$event.id);"
                                    [items]="incentiveTypeList" bindLabel="name" [ngModelOptions]="{standalone: true}"
                                    name="incentiveType" id="incentiveType" placeholder="Select a incentive type"
                                    appendTo="body" [(ngModel)]="incentiveTypeSelected">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label" for="incentiveValue">Incentive
                                Value <span>*</span></label>
                            <div class="col-sm-4">
                                <input type="number" min="0" class="form-control text-right" required
                                    [(ngModel)]="master.incentiveValue" id="incentiveValue" name="incentiveValue"
                                    nbInput fullWidth placeholder="Incentive Value">
                            </div><span>%</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div style="text-align: center !important;">
                                    <button class="btn btn-success btn-sm m-3" (click)="addRow()">Add
                                        To List</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </fieldset>
    </nb-card-header>
    <nb-card-body>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table id="simple_table" class="table table-bordered table-striped mb-0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product Name</th>
                        <th>UOM</th>
                        <th>Min Order Qty.</th>
                        <th>Incentive Type</th>
                        <th>Incentive value</th>
                        <th>Effective Date</th>
                        <th>Is Active?</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of lstMaster; let i = index;">
                        <td>{{i+1}}</td>
                        <td>{{item.productName}}</td>
                        <td>{{item.uom}}</td>
                        <td>{{item.minOrderQty}}</td>
                        <td>{{item.incentiveType}}</td>
                        <td>{{item.incentiveValue}}</td>
                        <td>{{item.effectiveDate}}</td>
                        <td>{{item.isActive}}</td>
                        <td>
                            <button (click)="removeRow(i)" class="btn btn-danger btn-sm m-1">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </nb-card-body>
</nb-card>