<nb-card class="actions-card">
    <nb-card-header>{{pageNavigation}}
        <ngx-common-button (click)="ButtonAction()"></ngx-common-button>
    </nb-card-header>
</nb-card>
<nb-card *ngIf="show">
    <nb-card-header class="text-right">
        <ngx-common-action (click)="agButtonAction()"></ngx-common-action>
    </nb-card-header>
    <nb-card-body>
        <div class="grid-wrapper">
            <ag-grid-angular #agGrid style="height: 500px;" id="myGrid" class="ag-theme-alpine" [modules]="modules"
                [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [debug]="true" [rowData]="rowData"
                [frameworkComponents]="frameworkComponents" (gridReady)="onGridReady($event)"
                (rowClicked)="onRowClicked($event)" rowSelection="multiple" pagination='true'>
            </ag-grid-angular>
        </div>
    </nb-card-body>
</nb-card>
<nb-card *ngIf="!show">
    <nb-card-header>
        <fieldset [disabled]="disabled ? 'disabled' : null">
            <form #masterForm="ngForm">
                <div class="row">
                    <div class="col-lg-4 col-md-8 col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label" for="packetingMasterDate">Transfer
                                Date <span>*</span></label>
                            <div class="col-sm-12">
                                <input required [(ngModel)]="master.packetingMasterDate"
                                    (ngModelChange)="getPacketTransferNo();" name="packetingMasterDate"
                                    id="packetingMasterDate" [nbDatepicker]="fdatepicker" nbInput fullWidth
                                    placeholder="Date" [ngModelOptions]="{standalone: true}" readonly>
                                <nb-datepicker #fdatepicker [min]="minDate" [max]="maxDate"></nb-datepicker>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-8 col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label" for="packetingMasterNo">Promo Packeting
                                No. <span>*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" required [(ngModel)]="master.packetingMasterNo"
                                    id="packetingMasterNo" name="packetingMasterNo" nbInput fullWidth
                                    placeholder="Promo Received No." readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-8 col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label" for="promoRequisitionId">Promo Requisition
                                No. <span>*</span></label>
                            <div class="col-sm-12">
                                <ng-select nbselect (change)="this.master.promoRequisitionId=this.$event.id"
                                    [items]="RequisitionList" name="promoRequisitionId" bindLabel="name"
                                    [ngModelOptions]="{standalone: true}" id="promoRequisitionId"
                                    placeholder="Select Req. No." appendTo="body"
                                    [(ngModel)]="master.productTransferNoSelected"
                                    [disabled]="disabledDdl ? 'disabled' : null">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group row">
                            <div class="col-sm-12 text-center">
                                <button class="btn btn-success" type="button">Process</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </nb-card-header>
</nb-card>