<nb-card class="actions-card">
    <div class="row" style="width: 550px;height: 70px; margin-left: 20px;padding-top: 5px;">
        <div class="col-1">
            <img src="{{filePath}}" height="{{imageHeight}}" width="{{imageWidth}}" style="margin: 1px 1px 1px 1px;">
        </div>
        <div style="font-size: 10px; text-align: center;" class="col-10">
            <div style="font-size: 13px;font-family: 'Times New Roman';">{{companyName}}</div>
            <div style="line-height: 0.9rem;font-family: 'Times New Roman';">{{addressLine}}</div>
            <div style="line-height: 0.9rem;font-family: 'Times New Roman';">
                Tel:{{officeTelephone}};{{companyEmail}};{{website}}</div>
        </div>
        <div class="col-1"></div>
    </div>
</nb-card>