<nb-card class="actions-card">
    <nb-card-header>{{pageNavigation}}
        <!-- <ngx-common-button (click)="ButtonAction()"></ngx-common-button> -->
        <button nbTooltip="Save Button" class="btn btn-danger btn-sm btn-demo float-right ml-1" (click)="reset()"> <i
                class="fas fa-redo"></i> Reset</button>
        <button nbTooltip="Reset Button" class="btn btn-success btn-sm btn-demo float-right ml-1" (click)="save()"> <i
                class="fas fa-save"></i> Save</button>
    </nb-card-header>
</nb-card>

<div class="row">
    <div class="col-md-12 col-lg-12">
        <nb-card class="min-height">
            <fieldset [disabled]="disabled ? 'disabled' : null">
                <nb-tabset>
                    <nb-tab tabTitle="Job Description" class="btn-tab">
                        <div class="grid-wrapper">
                            <table class=" table table-bordered table-striped">
                                <tr>
                                    <th>Job Description</th>
                                </tr>
                                <tr *ngFor="let detail of JobDescriptionList; let rowIndex = index">
                                    <td>
                                        {{detail.jobDescription}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </nb-tab>
                </nb-tabset>
            </fieldset>
        </nb-card>
    </div>
</div>

<nb-card>
    <nb-card-header>
        <fieldset [disabled]="disabled ? 'disabled' : null">
            <form #masterForm="ngForm" novalidate>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label for="yearId" class="col-sm-3 col-form-label">Year Name<span>*</span>
                            </label>
                            <div class="col-sm-9">
                                <ng-select [items]="yearItems" (change)="(master.year = this.$event.id);" name="yearId"
                                    bindLabel="name" [ngModelOptions]="{standalone: true}" id="yearId"
                                    placeholder="Select Year Name" appendTo="body" [(ngModel)]="master.yearSelected">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label for="monthSelected" class="col-sm-3 col-form-label">Month<span>*</span></label>
                            <div class="col-sm-9">
                                <ng-select nbselect (change)="(master.month = this.$event.name);GetEmployeeMonthlyTaskAssignByYearMonthTeamMemberEmployeeId();" [items]="monthList"
                                    name="monthId" bindLabel="name" [ngModelOptions]="{standalone: true}" id="monthId"
                                    placeholder="Select month name" appendTo="body" [(ngModel)]="master.monthSelected">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label for="weekSelected" class="col-sm-3 col-form-label">Week<span>*</span></label>
                            <div class="col-sm-9">
                                <ng-select nbselect (change)="(master.week = this.$event.name);GetEmployeeWeeklyTaskAssignByYearMonthWeek();" [items]="weekList"
                                    name="weekId" bindLabel="name" [ngModelOptions]="{standalone: true}" id="weekId"
                                    placeholder="Select week name" appendTo="body" [(ngModel)]="master.weekSelected">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </nb-card-header>
</nb-card>
<div class="row">
    <div class="col-md-12 col-lg-12">
        <nb-card class="min-height">
            <fieldset [disabled]="disabled ? 'disabled' : null">
                <nb-tabset>
                    <nb-tab tabTitle="Monthly Assigned Core Function" class="btn-tab">
                        <div class="grid-wrapper">
                            <table class=" table table-bordered table-striped">
                                <tr>
                                    <th>Core Function</th>
                                    <th>Quantity</th>
                                    <th>Description</th>
                                </tr>
                                <tr *ngFor="let detail of MonthlyAssignedCoreFunctionList; let rowIndex = index">
                                    <td>
                                        {{detail.functionName}}
                                        <!-- <input [(ngModel)]="detail.functionName" type="text" class="form-control"
                                            id="functionName" required name="functionName" nbInput fullWidth
                                            placeholder="Core Function" readonly> -->
                                    </td>
                                    <td>
                                        {{detail.taskQty}}
                                    </td>
                                    <td>
                                        {{detail.description}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </nb-tab>
                </nb-tabset>
            </fieldset>
        </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12">
        <nb-card class="min-height">
            <fieldset [disabled]="disabled ? 'disabled' : null">
                <nb-tabset>
                    <nb-tab tabTitle="Weekly Assigned Core Function" class="btn-tab">
                        <div class="grid-wrapper">
                            <table class=" table table-bordered table-striped">
                                <tr>
                                    <th>SN</th>
                                    <!-- <th>Team Member</th> -->
                                    <!-- <th>Year</th>
                                    <th>Month</th>
                                    <th>Week</th> -->
                                    <th>Core Function</th>
                                    <th>Quantity</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>Completed Quantity</th>
                                    <!-- <td>Action</td> -->
                                </tr>
                                <tr *ngFor="let detail of master.lstDetails; let rowIndex = index">
                                    <td>{{rowIndex+1}}</td>
                                    <!-- <td>
                                        <input [(ngModel)]="detail.teamMemberEmployeeName" type="text" class="form-control"
                                            id="teamMemberEmployeeName" required name="teamMemberEmployeeName" nbInput fullWidth
                                            placeholder="Employee Name" readonly>
                                    </td> -->
                                    <!-- <td>
                                        <input [(ngModel)]="detail.year" type="text" class="form-control" id="year"
                                            required name="year" nbInput fullWidth placeholder="Year" readonly>
                                    </td>
                                    <td>
                                        <input [(ngModel)]="detail.month" type="text" class="form-control" id="month"
                                            required name="month" nbInput fullWidth placeholder="Month" readonly>
                                    </td>
                                    <td>
                                        <input [(ngModel)]="detail.week" type="text" class="form-control" id="week"
                                            required name="week" nbInput fullWidth placeholder="Week" readonly>
                                    </td> -->
                                    <td>
                                        <input [(ngModel)]="detail.functionName" type="text" class="form-control"
                                            id="coreFunctionName" required name="coreFunctionName" nbInput fullWidth
                                            placeholder="Core Function Name" readonly>
                                    </td>
                                    <td>
                                        <input [(ngModel)]="detail.taskQty" type="text" class="form-control" id="taskQty"
                                            required name="taskQty" nbInput fullWidth placeholder="Task Quantity" readonly>
                                    </td>
                                    <td>
                                        <input [(ngModel)]="detail.description" type="text" class="form-control" id="description"
                                            required name="description" nbInput fullWidth placeholder="Description" readonly>
                                    </td>
                                    <td>
                                        <ng-select nbselect [items]="statusList"
                                            (change)="detail.status = $event.id" name="status"
                                            bindLabel="name" [ngModelOptions]="{standalone: true}" id="status"
                                            placeholder="Select one" appendTo="body"
                                            [(ngModel)]="detail.status">
                                        </ng-select>

                                    </td>
                                    <td>
                                        <input type="number" class="form-control" [(ngModel)]="detail.completedTaskQty"
                                            id="completedTaskQty" name="completedTaskQty" nbInput fullWidth
                                            placeholder="Completed Task Quantity">
                                    </td>
                                    <!-- <td>
                                        <button (click)="deleteDetail(rowIndex)" class="btn btn-danger btn-sm m-1">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </td> -->
                                </tr>
                            </table>
                        </div>
                    </nb-tab>
                </nb-tabset>
            </fieldset>
        </nb-card>
    </div>
</div>