<nb-card class="actions-card">
    <nb-card-header>{{pageNavigation}}
        <ngx-common-button (click)="ButtonAction()"></ngx-common-button>
    </nb-card-header>
</nb-card>

<nb-card *ngIf="show">
    <nb-card-header class="text-right">
        <ngx-common-action (click)="agButtonAction()"></ngx-common-action>
    </nb-card-header>
    <nb-card-body>
        <div class="grid-wrapper">
            <ag-grid-angular #agGrid style="height: 500px;" id="myGrid" class="ag-theme-alpine" [modules]="modules"
                [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [debug]="true" [rowData]="rowData"
                [frameworkComponents]="frameworkComponents" (gridReady)="onGridReady($event)"
                (rowClicked)="onRowClicked($event)" rowSelection="multiple" pagination='true'>
            </ag-grid-angular>
        </div>
    </nb-card-body>
</nb-card>

<nb-card *ngIf="!show">
    <nb-card-header>
        <fieldset [disabled]="disabled ? 'disabled' : null">
            <form #masterForm="ngForm">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <div class="form-group row">
                            <label for="companyId" class="col-sm-3 col-form-label">Company Name<span>*</span></label>
                            <div class="col-sm-9">
                                <ng-select nbselect (change)="master.companyId = $event ? $event.id : null;getEmployees();"
                                    [items]="companyItems" name="companyId" bindLabel="name"
                                    [ngModelOptions]="{standalone: true}" id="companyId" placeholder="Select Company"
                                    appendTo="body" [(ngModel)]="master.companySelected" [clearable]="true" [disabled]="isedit">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <div class="form-group row">
                            <label for="employeeId" class="col-sm-3 col-form-label">Employee Name<span>*</span></label>
                            <div class="col-sm-9">
                                <ng-select
                                nbselect
                                [items]="employeeItems"
                                bindLabel="name"
                                placeholder="Select Employee"
                                [(ngModel)]="master.employeeSelected"
                                [virtualScroll]="true"
                                [clearable]="true"
                                [disabled]="isedit"
                                (change)="master.employeeId = $event ? $event.id : null; getEmployeeDetails()">
                              </ng-select>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="Name">User Id<span>*</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" required [(ngModel)]="master.Name" id="Name"
                                    name="Name" nbInput fullWidth placeholder="User Id" autocomplete="off">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="Email ">Email<span>*</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" required [(ngModel)]="master.Email" id="Email"
                                    name="Email" nbInput fullWidth placeholder="Email" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="Password">Password<span>*</span></label>
                            <div class="col-sm-9">
                                <input class="form-control" required nbInput fullWidth [(ngModel)]="master.Password"
                                    #Password="ngModel" name="Password" id="Password" type="password"
                                    placeholder="Password" fieldSize="large" minlength="6" maxlength="12"
                                    [status]="Password.dirty ? (Password.invalid  ? 'danger' : 'success') : 'basic'"
                                    [attr.aria-invalid]="Password.invalid && Password.touched ? true : null">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="ConfirmPassword">Confirm
                                Password<span>*</span></label>
                            <div class="col-sm-9">
                                <input class="form-control" required nbInput fullWidth
                                    [(ngModel)]="master.ConfirmPassword" #Password="ngModel" name="ConfirmPassword"
                                    id="ConfirmPassword" type="password" placeholder="Confirm Password"
                                    fieldSize="large" minlength="6" maxlength="12"
                                    [status]="Password.dirty ? (Password.invalid  ? 'danger' : 'success') : 'basic'"
                                    [attr.aria-invalid]="Password.invalid && Password.touched ? true : null">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label" for="isActive"> Is Active ?</label>
                            <div class="col-sm-6 validation-checkboxes">
                                <nb-checkbox [(ngModel)]="master.isActive" name="checkbox" status="success" disabled="true">
                                </nb-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </nb-card-header>
</nb-card>