<button nbTooltip="Refresh Button" *ngIf="buttons[14].status"
  class="btn {{ buttons[14].class }} btn-demo float-right ml-1" (click)="valueSet(buttons[14].value)"><i
    class="{{ buttons[14].title }}"></i> {{ buttons[14].containerTitle }}</button>

<button nbTooltip="Preview Button" *ngIf="buttons[17].status"
  class="btn {{ buttons[17].class }} btn-demo float-right ml-1" (click)="valueSet(buttons[17].value)"><i
    class="{{ buttons[17].title }}"></i> {{ buttons[17].containerTitle }}</button>

<button nbTooltip="Print Button" *ngIf="buttons[18].status"
  class="btn {{ buttons[18].class }} btn-demo float-right ml-1" (click)="valueSet(buttons[18].value)"><i
    class="{{ buttons[18].title }}"></i> {{ buttons[18].containerTitle }}</button>


<button nbTooltip="PDF Button" *ngIf="buttons[19].status" class="btn {{ buttons[19].class }} btn-demo float-right ml-1"
  (click)="valueSet(buttons[19].value)"><i class="{{ buttons[19].title }}"></i>
  {{ buttons[19].containerTitle }}</button>

<button nbTooltip="Map Button" *ngIf="buttons[21].status" class="btn {{ buttons[21].class }} btn-demo float-right ml-1"
  (click)="valueSet(buttons[21].value)"><i class="{{ buttons[21].title }}"></i>
  {{ buttons[21].containerTitle }}</button>

<button nbTooltip="Excel Button" *ngIf="buttons[22].status"
  class="btn {{ buttons[22].class }} btn-demo float-right ml-1" (click)="valueSet(buttons[22].value)"><i
    class="{{ buttons[22].title }}"></i>
  {{ buttons[22].containerTitle }}</button>
