<nb-card class="actions-card">
    <nb-card-header>{{pageNavigation}}
        <ngx-common-button (click)="ButtonAction()"></ngx-common-button>
    </nb-card-header>
</nb-card>

<nb-card *ngIf="show">
    <nb-card-header class="text-right">
        <ngx-common-action (click)="agButtonAction()"></ngx-common-action>
    </nb-card-header>
    <nb-card-body>

        <div class="grid-wrapper">
            <ag-grid-angular #agGrid style="height: 500px;" id="myGrid" class="ag-theme-alpine" [modules]="modules"
                [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [debug]="true" [rowData]="rowData"
                [frameworkComponents]="frameworkComponents" (gridReady)="onGridReady($event)"
                (rowClicked)="onRowClicked($event)" rowSelection="multiple" pagination='true' nbInput>
            </ag-grid-angular>
        </div>
    </nb-card-body>
</nb-card>

<nb-card *ngIf="!show">
    <nb-card-header>
        <fieldset [disabled]="disabled ? 'disabled' : null">
            <form #masterForm="ngForm">

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="groupName">Group Name <span>*</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" [(ngModel)]="master.groupName" id="groupName"
                                    name="groupName" placeholder="Group Name" required nbInput fullWidth>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="productionTypeId">Production
                                Type<span>*</span></label>
                            <div class="col-sm-8">
                                <ng-select nbselect (change)="(master.productionTypeId = this.$event.id);"
                                    [items]="productionTypeList" name="productionTypeId" bindLabel="name"
                                    [ngModelOptions]="{standalone: true}" id="productionTypeId"
                                    placeholder="Select Product Type" appendTo="body"
                                    [(ngModel)]="productionTypeSelected">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </nb-card-header>
</nb-card>


<div class="row" *ngIf="!show">
    <div class="col-md-12 col-lg-12">
        <nb-card class="min-height">
            <fieldset [disabled]="disabled ? 'disabled' : null">
                <nb-tabset>
                    <nb-tab tabTitle="Process Head Details" class="btn-tab">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="productWiseSpecificationId">Process
                                        Name<span>*</span></label>
                                    <div class="col-sm-8">
                                        <ng-select nbselect (change)="(processHeadId = this.$event.id); "
                                            [items]="processHeadList" name="processHeadId" bindLabel="name"
                                            [ngModelOptions]="{standalone: true}" id="processHeadId"
                                            placeholder="Select a product" appendTo="body"
                                            [(ngModel)]="processHeadSelected">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="headOrder">Process Order
                                        <span>*</span></label>
                                    <div class="col-sm-8">
                                        <input type="number" class="form-control text-right" [(ngModel)]="headOrder"
                                            id="headOrder" name="headOrder" fullWidth placeholder="headOrder." nbInput
                                            required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div style="text-align: center;">
                                            <button (click)="refesh()" class="btn btn-warning btn-sm"> <i
                                                    class="fa fa-refresh" aria-hidden="true"></i> Refresh </button>
                                            <button (click)="addToDetailsGrid(dialog)"
                                                class="btn btn-success btn-sm m-3"> <i class="fa fa-plus"
                                                    aria-hidden="true"></i> Add </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid-wrapper">
                            <table class=" table table-bordered table-striped">
                                <tr>
                                    <th>#</th>
                                    <th>Head Name</th>
                                    <th>Process Order</th>
                                    <th>Action</th>
                                </tr>

                                <tr *ngFor="let details of master.lstDetailsViewModel; let rowIndex = index">
                                    <td>{{rowIndex+1}}</td>
                                    <td>
                                        <div>{{details.processHeadName}}</div>
                                    </td>
                                    <td>
                                        <input [(ngModel)]="details.headOrder" type="number"
                                            class="form-control text-right" id="headOrder" name="headOrder" nbInput
                                            fullWidth placeholder="headOrder.">
                                    </td>
                                    <td>
                                        <button (click)="deleteDetails(rowIndex)" class="btn btn-danger btn-sm m-1">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </nb-tab>
                </nb-tabset>
            </fieldset>
        </nb-card>
    </div>
</div>

<!-- Start HTML Report  -->

<nb-card style="visibility: hidden;">
    <nb-card-header>
        <div id="reportHeader">
            <ngx-rpt-header></ngx-rpt-header>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="grid-wrapper">
            <table id="header_table" class="table" style="width: 550px;">
                <thead>
                    <tr>
                        <th colspan="4">
                            <h3 style="text-align:center">
                                {{rReportHeader}}
                            </h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of params; let i = index;">
                        <td> <strong>{{item.leftLabel}}</strong></td>
                        <td>: {{item.leftValue}}</td>
                        <td><strong>{{item.rightLabel}} </strong></td>
                        <td>: {{item.rightValue}}</td>
                    </tr>
                </tbody>
            </table>
            <table id="body_table" class="table" style="width: 550px;">
                <thead>
                    <tr>
                        <th *ngFor="let item of tableHeader; let i = index;">{{item}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let details of bodyData; let rowIndex = index">
                        <td>{{rowIndex+1}}</td>
                        <td>
                            <div>{{details.bomProductSpecName}}</div>
                        </td>
                        <td>
                            {{details.qty}}
                        </td>
                        <td>
                            {{details.wastage}}
                        </td>
                        <td>
                            {{details.totalQty}}
                        </td>
                        <td>
                            {{details.uomName}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                        </td>
                        <td class="text-right">Grand Total:</td>
                        <td>
                            {{rgrandTotal}}
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <ngx-rpt-footer></ngx-rpt-footer>
    </nb-card-footer>
</nb-card>

<!-- End HTML Report  -->