
<button nbTooltip="Pin Coulmn" *ngIf="buttons[12].status" class="btn {{ buttons[12].class }} btn-demo float-right ml-1" (click)="valueSet(buttons[12].value)"><i class="{{ buttons[12].title }}"></i></button>
<button nbTooltip="Unpin Coulmn" *ngIf="buttons[13].status" class="btn {{ buttons[13].class }} btn-demo float-right ml-1" (click)="valueSet(buttons[13].value)"><i class="{{ buttons[13].title }}"></i></button>
<button nbTooltip="Refresh Data" *ngIf="buttons[14].status" class="btn {{ buttons[14].class }} btn-demo float-right ml-1" (click)="valueSet(buttons[14].value)"><i class="{{ buttons[14].title }}"></i></button>
<button nbTooltip="Export In CSV" *ngIf="buttons[15].status" class="btn {{ buttons[15].class }} btn-demo float-right ml-1" (click)="valueSet(buttons[15].value)"><i class="{{ buttons[15].title }}"></i></button>
