span {
    color: red;
}

.ghead {
    color: blue;
    font: bold;
}

nb-radio {
    display: inline !important;
}

pre {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Arial Narrow', Helvetica, sans-serif;
    white-space: pre-wrap;
}



.table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center;
    background-color: darkseagreen;
}

/* Just common table stuff. Really. */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    //padding: 8px 16px;
    padding: 2px 2px;
}

th {
    background: #eee;
}