<nb-card class="actions-card">
    <nb-card-header>
        <div class="row" style="width: 550px;height: 75px; border: solid 1px; margin-left: 5px;">
            <div>
                <img src="./../../../../assets/images/oict-logo.png" height="50px" style="margin: 5px 1px 1px 5px;">
            </div>
            <div style="font-size: 10px; text-align: center; width: 490px ">
                <div style="font-size: 15px;"> {{company.name}} </div>
                <div style="line-height: 0.9rem;"> {{company.address}} </div>
                <div style="line-height: 0.9rem;"> {{company.phone}}; {{company.fax}}</div>
                <div style="line-height: 0.9rem;"> {{company.email}}; {{company.website}}</div>
                <br>

            </div>
        </div>
    </nb-card-header>
</nb-card>