<nb-card class="custom-modal">
  <nb-card-header>
    <div class="header-content">
      <h3>{{ title }}</h3>
      <button nbButton status="danger" class="close-button" (click)="cancel()">
        <nb-icon icon="close-outline"></nb-icon>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>

    <div class="row">
      <div class="col-sm-4" *ngFor="let item of bodyDataCel; let i = index;">

        <div class="card1">
          <div class="back"></div>
          <div class="front">
            <div class="cover-shape-large">
              <div class="shape-diamond"></div>
              <div class="shape-block"></div>
            </div>
            <div class="cover-shape-small">
              <div class="shape-diamond"></div>
              <div class="shape-block">
                <div class="cake">
                  <div class="layer layer-bottom"></div>
                  <div class="layer layer-middle"></div>
                  <div class="layer layer-top"></div>
                  <div class="icing"></div>
                  <div class="drip drip1"></div>
                  <div class="drip drip2"></div>
                  <div class="drip drip3"></div>
                  <div class="candle">
                    <div class="flame"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-container">
            <p id="head">{{item.wish}}</p>
            <h6>{{item.employeeNo}}</h6>
            <h6>{{item.fullName}}</h6>
            <h6>{{item.currentDesignation}}</h6>
          </div>
          <p>{{item.fullName}} - {{item.employeeNo}}</p>
        </div>

      </div>
    </div>



  </nb-card-body>
  <nb-card-footer>

  </nb-card-footer>
</nb-card>