<nb-card class="actions-card">
  <nb-card-header>
    <div class="row" style="width: 550px;height: 75px; border: solid 1px; margin-left: 5px;">
      <div>
        <img src="{{filePath}}" height="{{imageHeight}}" width="{{imageWidth}}" style="margin: 5px 1px 1px 5px;">
      </div>
      <div style="font-size: 10px; text-align: center; width: 340px; margin-left: 10px; ">
        <div style="font-size: 13px;font-family: 'Times New Roman';">{{companyName}}</div>
        <div style="line-height: 0.9rem;font-family: 'Times New Roman';"> {{addressLine}} </div>
        <div style="line-height: 0.9rem;font-family: 'Times New Roman';"> {{officeTelephone}}; {{companyEmail}};
          {{website}}</div>
      </div>
      <div style="width: 140px;">
        <div
          style="height: 100%; background: gray; color: white; vertical-align: middle; text-align: center !important; font-weight: bold !important;">
          P U R C H A S E<Br />O R D E R
        </div>

        <!-- PURCHASE ORDER -->
      </div>
    </div>
  </nb-card-header>
</nb-card>