<nb-card class="actions-card">
    <nb-card-header id="pageHeader">{{pageNavigation}}
        <ngx-common-button (click)="ButtonAction()"></ngx-common-button>
    </nb-card-header>
</nb-card>
<nb-card *ngIf="show">
    <nb-card-header class="text-right">
        <ngx-common-action (click)="agButtonAction()"></ngx-common-action>
    </nb-card-header>
    <nb-card-body>
        <div class="grid-wrapper">
            <ag-grid-angular #agGrid style="height: 500px;" id="myGrid" class="ag-theme-alpine" [modules]="modules"
                [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [debug]="true" [rowData]="rowData"
                [frameworkComponents]="frameworkComponents" (gridReady)="onGridReady($event)"
                (rowClicked)="onRowClicked($event)" rowSelection="multiple" pagination='true'>
            </ag-grid-angular>
        </div>
    </nb-card-body>
</nb-card>

<nb-card *ngIf="!show">
    <nb-card-header>
        <fieldset [disabled]="disabled ? 'disabled' : null">
            <form #masterForm="ngForm" novalidate>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group row">
                            <label for="companyId" class="col-sm-5 col-form-label">Company Name <span>*</span></label>
                            <div class="col-sm-7">
                                <ng-select nbselect
                                    (change)="(master.companyId = this.$event.id);getModulePermisssion();getEmployees();"
                                    [items]="companiesItems" name="companyId" bindLabel="name"
                                    [ngModelOptions]="{standalone: true}" id="companyId" placeholder="Select Company"
                                    appendTo="body" [(ngModel)]="master.companiesSelected">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label for="moduleId" class="col-sm-5 col-form-label">Module Name <span>*</span></label>
                            <div class="col-sm-7">
                                <ng-select nbselect (change)="(master.moduleId = this.$event.id);getMenu();"
                                    [items]="moduleItems" name="moduleId" bindLabel="name"
                                    [ngModelOptions]="{standalone: true}" id="moduleId" placeholder="Select Module"
                                    appendTo="body" [(ngModel)]="master.moduleSelected">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label for="userGroupId" class="col-sm-5 col-form-label">Group Name <span>*</span></label>
                            <div class="col-sm-7">
                                <ng-select nbselect (change)="(master.userGroupId = this.$event.id);"
                                    [items]="userGroupItems" name="userGroupId" bindLabel="name"
                                    [ngModelOptions]="{standalone: true}" id="userGroupId" placeholder="Select Group"
                                    appendTo="body" [(ngModel)]="master.userGroupSelected">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label for="employeeId" class="col-sm-5 col-form-label">Employee Name</label>
                            <div class="col-sm-7">
                                <ng-select nbselect (change)="(master.employeeId = this.$event.id);"
                                    [items]="employeeItems" name="employeeId" bindLabel="name"
                                    [ngModelOptions]="{standalone: true}" id="employeeId" placeholder="Select Employee"
                                    appendTo="body" [(ngModel)]="master.employeeSelected">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label for="effectiveDate" class="col-sm-5 col-form-label">Effective Date
                                <span>*</span></label>
                            <div class="col-sm-7">
                                <input id="effectiveDate" required [(ngModel)]="master.effectiveDate"
                                    name="effectiveDate" [nbDatepicker]="effectiveDate" nbInput fullWidth
                                    placeholder="Effective Date" [ngModelOptions]="{standalone: true}">
                                <nb-datepicker #effectiveDate></nb-datepicker>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </nb-card-header>
</nb-card>

<nb-card *ngIf="!show">
    <nb-card-header>
        <label><b>Module Details</b></label>
    </nb-card-header>
    <nb-card-body>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table id="simple_table" class="table table-bordered table-striped mb-0">
                <thead>
                    <tr>
                        <th hidden>Menu ID</th>
                        <th>Parent Name</th>
                        <th>Menu Name</th>
                        <th>Is Active? &nbsp; &nbsp; <nb-checkbox id="selectAll" name="selectAll" status="success"
                                title="Toggle check all or Uncheck all" [(ngModel)]="isCheckedAll"
                                (change)="ToggleSelectUnSelect()">
                            </nb-checkbox>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let detail of master.lstModel;let rowIndex = index">
                        <td hidden>
                            {{detail.menuId}}
                        </td>
                        <td>{{detail.parentMenuName}}</td>
                        <td>
                            {{detail.menuName}}
                        </td>
                        <td>
                            <nb-checkbox [(ngModel)]="detail.isActive" id="isActive" name="isActive" status="success">
                            </nb-checkbox>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </nb-card-body>
    <nb-card-footer>
    </nb-card-footer>
</nb-card>