<nb-card class="actions-card">
    <nb-card-header>{{pageNavigation}}
        <ngx-common-button (click)="ButtonAction()"></ngx-common-button>
    </nb-card-header>
</nb-card>

<nb-card *ngIf="show">
    <!-- "!show"> -->
    <nb-card-header>
        <fieldset [disabled]="disabled ? 'disabled' : null">
            <form #masterForm="ngForm">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group row">
                            <label for="isPosted" class="col-sm-4 col-form-label">Approval Status </label>
                            <div class="col-sm-8">
                                <nb-radio-group [(ngModel)]="master.approvalStatus" name="isPosted">
                                    <nb-radio value=1>
                                        Approve
                                    </nb-radio>
                                    <nb-radio value=2>
                                        Reject
                                    </nb-radio>
                                </nb-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </nb-card-header>
</nb-card>


<div class="row" *ngIf="show">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <nb-card class="min-height">
            <fieldset [disabled]="disabled ? 'disabled' : null">
                <nb-tabset>
                    <nb-tab tabTitle="BOM Approval" class="btn-tab">
                        <div class="grid-wrapper" style="overflow-x:scroll ;overflow-y:scroll ; max-height: 300px">
                            <table class=" table table-bordered table-striped">
                                <tr>
                                    <th>#</th>
                                    <th>BOM No</th>
                                    <th>BOM Date</th>
                                    <th>Bom Name</th>
                                    <th>Product Name</th>
                                    <th>Bom Type</th>
                                    <th>Material Type</th>
                                    <th>Process Group</th>
                                    <th>Shelf Life</th>
                                    <th>Batch Weight</th>
                                    <th>Weight/Pack</th>
                                    <th>Bom Details</th>
                                    <th>Description</th>
                                    <th>Select</th>
                                </tr>

                                <tr *ngFor="let details of master.bomModel; let rowIndex = index">
                                    <td>
                                        {{rowIndex+1}}
                                    </td>
                                    <td>
                                        {{details.bomNo}}
                                    </td>
                                    <td>
                                        {{details.bomDate}}
                                    </td>
                                    <td>
                                        {{details.bomName}}
                                    </td>
                                    <td>
                                        {{details.productName}}
                                    </td>
                                    <td>
                                        {{details.bomType}}
                                    </td>
                                    <td> {{details.materialsType}}
                                    </td>
                                    <td> {{details.groupName}}
                                    </td>
                                    <td> {{details.shelfLife}}
                                    </td>
                                    <td> {{details.batchWeight}}
                                    </td>
                                    <td> {{details.weightPerPack}}
                                    </td>
                                    <!-- <td [innerHTML]="details.bomdetails"> 
                                    </td> -->
                                    <td>
                                        <button class="btn btn-sm btn-success m-0 !important"
                                            (click)="ViewDetails(dialog,details.pendingbomId)">Details</button>
                                    </td>
                                    <td>
                                        {{details.bomDescription}}
                                    </td>
                                    <td>
                                        <nb-checkbox name="isSelect" id="isSelect" status="success"
                                            [(ngModel)]="details.isSelect">
                                        </nb-checkbox>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </nb-tab>
                </nb-tabset>
            </fieldset>
        </nb-card>
    </div>
    <ng-template #dialog let-data let-ref="dialogRef">
        <div class="col-sm-12 col-md-12 col-lg-12" style="width: 1350px;">
            <nb-card class="min-height">
                <nb-card-header>
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <h4>BOM Approval Details</h4>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div style="text-align: right;">
                                <button style="text-align: right;" nbButton
                                    (click)="ref.close()"><span>X</span></button>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <div class="grid-wrapper">
                        <table class=" table table-bordered table-striped">
                            <tr>
                                <th>#</th>
                                <th>Bom For</th>
                                <th>Product Name</th>
                                <th>Qty</th>
                                <th>Waste(%)</th>
                                <th>Total Qty</th>
                                <th>UOM</th>
                                <th>Potency</th>

                            </tr>

                            <tr *ngFor="let details of BOMApprovalModel; let rowIndex = index">
                                <td>{{rowIndex+1}}</td>
                                <td>
                                    {{details.bomForName}}
                                </td>
                                <td>
                                    <div>{{details.accessories_ProductSpecName}}</div>
                                </td>
                                <td>
                                    {{details.qty}}
                                </td>
                                <td>
                                    {{details.wastage}}
                                </td>
                                <td>
                                    {{details.totalQty}}
                                </td>
                                <td>
                                    {{details.uomName}}
                                </td>
                                <td>
                                    {{details.potencyEffectName}}
                                </td>
                            </tr>
                            <!-- <tr>
                                <th colspan="8">Grand Total</th>
                                <th colspan="1" class="text-right">{{grandTotal| number : '1.2'}}</th>
                            </tr> -->
                        </table>
                    </div>
                </nb-card-body>
                <nb-card-footer>
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <span>{{msg}}</span>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4" hidden>
                            <div style="text-align: right;">
                                <button class="btn btn-success m-0 !important"
                                    (click)="UpdateSalesInvoiceDetails()">Update
                                    &
                                    Approve</button>
                            </div>
                        </div>
                    </div>
                </nb-card-footer>
            </nb-card>
        </div>
    </ng-template>
</div>