<nb-card class="actions-card">
  <nb-card-header>{{pageNavigation}}
    <ngx-common-button (click)="ButtonAction()"></ngx-common-button>
  </nb-card-header>
</nb-card>

<nb-card *ngIf="show">
  <nb-card-header class="text-right">
    <ngx-common-action (click)="agButtonAction()"></ngx-common-action>
  </nb-card-header>
  <nb-card-body>

    <div class="grid-wrapper">
      <ag-grid-angular #agGrid style="height: 500px;" id="myGrid" class="ag-theme-alpine" [modules]="modules"
        [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [debug]="true" [rowData]="rowData"
        [frameworkComponents]="frameworkComponents" (gridReady)="onGridReady($event)"
        (rowClicked)="onRowClicked($event)" rowSelection="multiple" pagination='true'>
      </ag-grid-angular>
    </div>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="!show">
  <nb-card-header>
    <fieldset [disabled]="disabled ? 'disabled' : null">
      <form #masterForm="ngForm" novalidate>

        <div class="row">
          <div class="col-md-6">
            <!-- <div class="form-group row">
                    <label for="groupCode" class="col-sm-3 col-form-label">Group Code</label>                    
                    <div class="col-sm-9">                       
                            <input type="text" class="form-control" id="groupCode" required [(ngModel)]="master.groupCode" name="groupCode" nbInput
                  fullWidth placeholder="Group Code">
                    </div>
                </div> -->
            <div class="form-group row">
              <label for="groupName" class="col-sm-3 col-form-label">Group Name <span>*</span></label>
              <div class="col-sm-9">
                <input type="text" (keyup)="getDuplicate();" class="form-control" id="groupName" required
                  [(ngModel)]="master.groupName" name="groupName" nbInput fullWidth placeholder="Group Name">
              </div>
            </div>
            <div class="form-group row">
              <label for="parentId" class="col-sm-3 col-form-label">Parent Group</label>
              <div class="col-sm-9">
                <ng-select nbselect (change)="(master.parentId = this.$event.id)" [items]="parentGroup" name="parentId"
                  bindLabel="name" [ngModelOptions]="{standalone: true}" id="parentId" placeholder="Select Parent Group"
                  appendTo="body" [(ngModel)]="master.parentSelected">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label for="groupNatureId" class="col-sm-3 col-form-label">Group Nature <span>*</span></label>
              <div class="col-sm-9">
                <ng-select nbselect (change)="( master.groupNatureId = this.$event.id)" [items]="groupNature"
                  name="groupNatureId" bindLabel="name" [ngModelOptions]="{standalone: true}" id="groupNatureId"
                  placeholder="Select Group Nature" appendTo="body" [(ngModel)]="master.groupNatureSelected">
                </ng-select>
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-3 col-form-label">Is Active ?</label>
              <div class="col-sm-9">
                <div class="validation-checkboxes">
                  <nb-checkbox [(ngModel)]="master.isActive" name="checkbox" status="success"></nb-checkbox>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label for="sortOrder" class="col-sm-3 col-form-label">Sort Order <span>*</span></label>
              <div class="col-sm-9">
                <input type="number" min="0" class="form-control" id="sortOrder" required [(ngModel)]="master.sortOrder"
                  name="sortOrder" nbInput fullWidth placeholder="Sort Order">
              </div>
            </div>
          </div>
        </div>
      </form>
    </fieldset>
  </nb-card-header>
</nb-card>