<nb-card class="actions-card">
    <nb-card-header>{{pageNavigation}}
        <ngx-common-button (click)="ButtonAction()"></ngx-common-button>
    </nb-card-header>
</nb-card>

<nb-card *ngIf="show">
    <nb-card-header class="text-right">
        <ngx-common-action (click)="agButtonAction()"></ngx-common-action>
    </nb-card-header>
    <nb-card-body>
        <div class="grid-wrapper">
            <ag-grid-angular #agGrid style="height: 500px;" id="myGrid" class="ag-theme-alpine" [modules]="modules"
                [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [debug]="true" [rowData]="rowData"
                [frameworkComponents]="frameworkComponents" (gridReady)="onGridReady($event)"
                (rowClicked)="onRowClicked($event)" rowSelection="multiple" pagination='true'>
            </ag-grid-angular>
        </div>
    </nb-card-body>
</nb-card>

<nb-card *ngIf="!show">
    <nb-card-header>
        <fieldset [disabled]="disabled ? 'disabled' : null">
            <form #masterForm="ngForm">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <div class="form-group row">
                            <label for="companyId" class="col-sm-12 col-form-label">Company <span>*</span></label>
                            <div class="col-sm-12">
                                <ng-select nbselect (change)="getSBU(master.companyId = this.$event.id);"
                                    [items]="companyList" name="companyId" bindLabel="name"
                                    [ngModelOptions]="{standalone: true}" id="companyId" placeholder="Select Company"
                                    appendTo="body" [(ngModel)]="master.companySelected">
                                </ng-select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <div class="form-group row">
                            <label for="sbuId" class="col-sm-12 col-form-label">Branch <span>*</span> </label>
                            <div class="col-sm-12">
                                <ng-select nbselect (change)="getStore(master.sbuId = this.$event.id);" [items]="sbus"
                                    name="sbuId" bindLabel="name" [ngModelOptions]="{standalone: true}" id="sbuId"
                                    placeholder="Select a Branch" appendTo="body" [(ngModel)]="master.branchSelected">
                                </ng-select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <div class="form-group row">
                            <label for="storeId" class="col-sm-12 col-form-label">Store <span>*</span></label>
                            <div class="col-sm-12">
                                <ng-select nbselect (change)="(master.storeId = this.$event.id);" [items]="StoreList"
                                    name="storeId" bindLabel="name" [ngModelOptions]="{standalone: true}" id="storeId"
                                    placeholder="Select a Store" appendTo="body" [(ngModel)]="master.storeSelected">
                                </ng-select>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-lg-6 col-md-8 col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label" for="stockNo">MR No.<span>*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" required [(ngModel)]="master.stockNo"
                                    id="stockNo" name="stockNo" nbInput fullWidth placeholder="Purchase Order No.">
                            </div>
                        </div>
                    </div> -->

                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label" for="stockInDate">Stock In
                                Date <span>*</span></label>
                            <div class="col-sm-12">
                                <input required [(ngModel)]="master.stockInDate" [nbDatepicker]="fdatepicker" nbInput
                                    fullWidth placeholder="Date" [ngModelOptions]="{standalone: true}"
                                    (ngModelChange)="getMaxNo();">
                                <nb-datepicker #fdatepicker></nb-datepicker>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label" for="remarks">Remarks</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" required [(ngModel)]="master.remarks"
                                    id="remarks" name="remarks" nbInput fullWidth placeholder="remarks">
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </fieldset>
    </nb-card-header>
</nb-card>

<div class="row" *ngIf="!show">
    <div class="col-md-12 col-lg-12">
        <nb-card class="min-height">
            <fieldset [disabled]="disabled ? 'disabled' : null">
                <nb-tabset>
                    <nb-tab tabTitle="Stock In Details" class="btn-tab">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group row">
                                    <label for="productId" class="col-sm-6 col-form-label">Product
                                        Name <span>*</span></label>
                                    <div class="col-sm-12">
                                        <ng-select nbselect
                                            (change)="getAllProductSpecification(master.productId = this.$event.id);"
                                            [items]="ProductList" name="productId" bindLabel="name"
                                            [ngModelOptions]="{standalone: true}" id="productId" placeholder="Select Product
                                        Name" appendTo="body" [(ngModel)]="master.productSelected">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="form-group row">
                                    <label for="productWiseSpecificationId" class="col-sm-6 col-form-label">Product
                                        Specification<span>*</span></label>
                                    <div class="col-sm-12">
                                        <ng-select nbselect
                                            (change)="getCurrentStock(master.productWiseSpecificationId = this.$event.id);"
                                            [items]="ProductSpecificationList" name="productWiseSpecificationId"
                                            bindLabel="name" [ngModelOptions]="{standalone: true}"
                                            id="productWiseSpecificationId" placeholder="Select Product
                                        Specification" appendTo="body"
                                            [(ngModel)]="master.productspecificationSelected">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group row">
                                    <label class="col-sm-12 col-form-label" for="currentStock">Current
                                        Stock<span>*</span></label>
                                    <div class="col-sm-12">
                                        <input type="number" readonly class="form-control text-right" required
                                            [(ngModel)]="master.currentStock" id="currentStock" name="currentStock"
                                            nbInput fullWidth placeholder="Current Stock">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="form-group row">
                                    <label for="partyId" class="col-sm-6 col-form-label">Party
                                        Name</label>
                                    <div class="col-sm-12">
                                        <ng-select nbselect (change)="(master.partyId = this.$event.id);"
                                            [items]="partyList" name="partyId" bindLabel="name"
                                            [ngModelOptions]="{standalone: true}" id="partyId"
                                            placeholder="Select Party" appendTo="body"
                                            [(ngModel)]="master.partySelected">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group row">
                                    <label class="col-sm-12 col-form-label" for="purchasePrice">Purchase
                                        Price<span>*</span></label>
                                    <div class="col-sm-12">
                                        <input type="number" class="form-control text-right" required
                                            [(ngModel)]="master.purchasePrice" id="purchasePrice" name="purchasePrice"
                                            nbInput fullWidth placeholder="Purchase Price">
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group row">
                                    <label class="col-sm-12 col-form-label" for="receiveQty">Receive
                                        Qty.<span>*</span></label>
                                    <div class="col-sm-12">
                                        <input type="number" class="form-control text-right" required min="0"
                                            [(ngModel)]="master.receiveQty" id="ReceiveQTY" name="receiveQty" nbInput
                                            fullWidth placeholder="Receive Qty.">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group row">
                                    <label class="col-sm-12 col-form-label" for="purchasePrice">Purchase Price</label>
                                    <div class="col-sm-12">
                                        <input type="number" class="form-control text-right" required min="0"
                                            [(ngModel)]="master.purchasePrice" id="purchasePrice" name="purchasePrice"
                                            nbInput fullWidth placeholder="purchase price">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group row">
                                    <label class="col-sm-12 col-form-label" for="hasSerial">Has Product Serial
                                        ? <span> *</span></label>
                                    <div class="col-sm-12">
                                        <nb-checkbox name="hasSerial" id="hasSerial" status="success"
                                            [(ngModel)]="master.hasSerial"></nb-checkbox>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-6 col-md-8 col-sm-12" hidden>
                                <div class="form-group row">
                                    <label class="col-sm-12 col-form-label" for="barcodeNo">Barcode
                                        No.<span>*</span></label>
                                    <div class="col-sm-12">
                                        <input type="number" class="form-control text-right" required readonly
                                            [(ngModel)]="master.barcodeNo" id="barcodeNo" name="barcodeNo" nbInput
                                            fullWidth placeholder="Barcode No.">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-8 col-sm-12" hidden>
                                <div class="form-group row">
                                    <label class="col-sm-12 col-form-label" for="barcode">Barcode Image</label>
                                    <div class="col-sm-12">
                                        <ngx-barcode [bc-value]="master.barcodeNo" [bc-display-value]="true"
                                            id="barcode" name="barcode"></ngx-barcode>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-right">
                            <button (click)="Clear()" class="btn btn-warning btn-sm"> <i class="fa fa-refresh"
                                    aria-hidden="true"></i> Clear </button>
                            <button (click)="addStockdetails(dialog);" class="btn btn-success btn-sm m-3"> <i
                                    class="fa fa-plus" aria-hidden="true"></i> Add </button>
                            <button hidden (click)="viewPopup(dialog);" class="btn btn-success btn-sm m-3"> <i
                                    class="fa fa-plus" aria-hidden="true"></i> View Popup </button>
                        </div>

                        <div class="grid-wrapper">
                            <table class=" table table-bordered table-striped">
                                <tr>
                                    <th>SN</th>
                                    <!-- <th>Product</th> -->
                                    <th>Product Specification</th>
                                    <th>Party</th>
                                    <th>Current Stock</th>
                                    <th>Purchase Price</th>
                                    <th>Receive Qty.</th>
                                    <th style="width: 150px;">Serial No.
                                        <!-- Barcode No. -->
                                    </th>
                                    <th>Barcode Image</th>
                                    <td>Action</td>
                                </tr>

                                <tr *ngFor="let details of master.StockInWithBarcode; let rowIndex = index">
                                    <td>{{rowIndex+1}}</td>
                                    <td>
                                        {{details.productName}}
                                    </td>
                                    <td>
                                        {{details.partyName}}
                                    </td>
                                    <td>
                                        {{details.currentStock}}
                                    </td>
                                    <td>
                                        <!-- {{details.purchasePrice}} -->
                                        <input [(ngModel)]="details.purchasePrice" type="number"
                                            class="form-control text-right" id="purchasePrice" readonly required min="0"
                                            name="purchasePrice" nbInput fullWidth placeholder="Purchase Price">
                                    </td>
                                    <td>
                                        <!-- {{details.receiveQty}} -->
                                        <input [(ngModel)]="details.receiveQty" type="number"
                                            class="form-control text-right" id="receiveQty" readonly required min="0"
                                            name="receiveQty" nbInput fullWidth placeholder="Receive Qty.">
                                    </td>
                                    <td>
                                        <table class=" table table-bordered table-striped">
                                            <tr
                                                *ngFor="let element of details.lstDetailsViewModel; let rowIndex2 = index">
                                                <td>
                                                    <input type="text" [(ngModel)]="element.serialNo"
                                                        (ngModelChange)="validateSerialNo(rowIndex, rowIndex2);"
                                                        class="form-control" id="serialNo" required name="serialNo"
                                                        nbInput fullWidth placeholder="Serial No.">
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- <input [(ngModel)]="details.barcodeNo" type="number" class="form-control"
                                            id="barcodeNo" required name="barcodeNo" nbInput fullWidth readonly hidden
                                            placeholder="barcodeNo"> -->
                                    </td>
                                    <td>
                                        <ngx-barcode [bc-value]="details.barcodeNo" [bc-display-value]="true"
                                            id="barcodeImage" name="barcodeImage">
                                        </ngx-barcode>
                                    </td>
                                    <td>
                                        <button (click)="DeleteDetails(rowIndex)" class="btn btn-danger btn-sm m-1">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                        <!-- <button (click)="editDetails(rowIndex)"
                                            class="btn btn-primary btn-sm m-1">
                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                        </button> -->
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </nb-tab>

                </nb-tabset>
            </fieldset>
        </nb-card>
    </div>
</div>

<!-- Popup Start -->
<ng-template #dialog let-data let-ref="dialogRef">
    <div style="size: 15; background-color: rgb(255, 255, 255); height: 120px; width: 180px,
        !important;" *ngFor="let item of selectedBarcode;">
        <!-- {{item.productName}}  -->
        <label for="barcodeNo" style="font-size: 10pt; font-family: 'Arial Narrow';">{{item.price}}</label><br />
        <ngx-barcode [bc-value]="item.barcodeNo" [bc-display-value]="true" id="bsarcodeImage" name="barcodeNo"
            [bc-element-type]="elementType" [bc-width]="1.2" [bc-height]="40" [bc-font-size]="15">
        </ngx-barcode>
        <br />
        <button class="btn-primary" (click)="printPage()">print</button>
    </div>
    <!-- <div class="col-md-12 col-lg-12">
        <nb-card class="min-height">
            <nb-card-header>
                <div class="row">
                    <div class="col-11">
                        Print
                    </div>
                    <div class="col-1">
                        <button style="text-align: right;" nbButton (click)="ref.close()"><span>X</span> </button>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <nb-card class="min-height">
                            <fieldset [disabled]="disabled ? 'disabled' : null">
                                <nb-tabset>
                                    <nb-tab tabTitle="Barcode Print" class="btn-tab">
                                        <div class="grid-wrapper">
                                            <div class="row" *ngFor="let item of selectedBarcode; let j = index;">
                                                <div class="col-lg-6 col-md-8 col-sm-12">
                                                    <div class="form-group row">
                                                        <label for="productName" class="col-sm-6 col-form-label">Product
                                                            Name</label>
                                                        <div class="col-sm-12">
                                                            <input type="text" class="form-control" readonly
                                                                [(ngModel)]="item.productName" id="productName"
                                                                name="productName" nbInput fullWidth
                                                                placeholder="productName">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-8 col-sm-12">
                                                    <div class="form-group row">
                                                        <label for="receiveQty" class="col-sm-6 col-form-label">Receive
                                                            Qty.</label>
                                                        <div class="col-sm-6">
                                                            <input type="number" class="form-control text-right"
                                                                readonly [(ngModel)]="item.receiveQty" id="receiveQty"
                                                                name="receiveQty" nbInput fullWidth
                                                                placeholder="receiveQty">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-8 col-sm-12">
                                                    <div class="form-group row">
                                                        <label for="barcodeNo"
                                                            class="col-sm-6 col-form-label">Barcode</label>
                                                        <div class="col-sm-6" style="text-align: center;  size: 15;">
                                                            {{item.price}}
                                                            <ngx-barcode [bc-value]="item.barcodeNo"
                                                                [bc-display-value]="true" id="bsarcodeImage"
                                                                name="barcodeNo" [bc-element-type]="elementType"
                                                                [bc-width]="1.2" [bc-height]="30" [bc-font-size]="15">
                                                            </ngx-barcode>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-8 col-sm-12">
                                                    <div class="form-group row">
                                                        <label class="col-sm-6 col-form-label" for="printQty">Print
                                                            Qty.<span>*</span></label>
                                                        <div class="col-sm-6">
                                                            <input type="number" class="form-control text-right"
                                                                required [(ngModel)]="item.printQty" id="printQty"
                                                                name="printQty" nbInput fullWidth
                                                                placeholder="print Qty.">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </nb-tab>
                                </nb-tabset>
                            </fieldset>
                        </nb-card>
                    </div>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <div class="row">
                    <div class="col-10 text-right">
                        <button printSectionId="barcodeImage" ngxPrint>print image</button>
                    </div>
                    <div class="col-2">
                        <button style="text-align: right;" nbButton (click)="agReport()">Print Barcode</button>
                    </div>
                </div>
            </nb-card-footer>
        </nb-card>
    </div> -->
</ng-template>
<!-- Pop End -->

<!-- Report Start -->
<nb-card style="visibility: hidden;">
    <nb-card-header>
        <!-- <div id="reportHeader">
            <ngx-rpt-header></ngx-rpt-header>
        </div> -->
    </nb-card-header>
    <nb-card-body>
        <div class="grid-wrapper">

            <table id="header_table_top" class="table" style="width: 550px;">
                <tbody>
                    <tr>
                        <td> <strong>Barcode Print</strong></td>
                    </tr>
                </tbody>
            </table>

            <!-- <table id="header_table" class="table" style="width: 550px;">
                <tbody>
                    <tr>
                        <td> <strong>Stock No:</strong></td>
                        <td>{{stockNo}}</td>
                        <td><strong>Stock Date:</strong></td>
                        <td>{{stockInDate}}</td>
                    </tr>
                </tbody>
            </table> -->
            <table id="body_table" class="table" style="width: 550px;">
                <!-- <thead>
                    <tr>
                        <th *ngFor="let item of tableHeader; let i = index;">{{item}}</th>
                    </tr>
                </thead> -->
                <tbody>
                    <tr>
                        <td>
                            <div>
                                <ngx-barcode *ngFor="let item of barcodePrintList; let j = index;"
                                    [bc-value]="item.barcodeNo" [bc-display-value]="true"
                                    [bc-element-type]="elementType"></ngx-barcode>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <!-- <ngx-rpt-footer></ngx-rpt-footer> -->
    </nb-card-footer>
</nb-card>
<!-- Report End -->