<nb-card class="actions-card">
    <nb-card-header>{{pageNavigation}}
        <ngx-common-button (click)="ButtonAction()"></ngx-common-button>
    </nb-card-header>
</nb-card>

<nb-card *ngIf="show">
    <!-- "!show"> -->
    <nb-card-header>
        <fieldset [disabled]="disabled ? 'disabled' : null">
            <form #masterForm="ngForm">
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group row">
                            <label for="Status" class="col-sm-12 col-form-label">Approval
                                Status<span>*</span></label>
                            <div class="col-sm-12">
                                <ng-select nbselect [items]="ApprovalStatusList"
                                    (change)="(master.Status = this.$event.id);" name="Status" bindLabel="name"
                                    [ngModelOptions]="{standalone: true}" id="Status" placeholder="select one"
                                    appendTo="body" [(ngModel)]="ApprovalStatusSelected">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </nb-card-header>
</nb-card>


<div class="row" *ngIf="show">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <nb-card class="min-height">
            <fieldset [disabled]="disabled ? 'disabled' : null">
                <nb-tabset>
                    <nb-tab tabTitle="Hrm Clarification For Approval" class="btn-tab">
                        <div class="grid-wrapper">
                            <table class=" table table-bordered table-striped">
                                <tr>
                                    <th>#</th>
                                    <th>Employee Name</th>
                                    <th>EmployeeCode</th>
                                    <th>Date</th>
                                    <th>
                                        Clarification</th>
                                    <th>Comments</th>
                                    <th>Action</th>
                                </tr>

                                <tr *ngFor="let details of master.lstMasterViewModel; let rowIndex = index">
                                    <td>
                                        {{rowIndex+1}}
                                    </td>
                                    <td>
                                        {{details.employeeName}}
                                    </td>
                                    <td>
                                        {{details.employeeCode}}
                                    </td>
                                    <td>
                                        {{details.AttendanceDate}}
                                    </td>
                                    <td>
                                        {{details.clarification}}
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" [(ngModel)]="details.comments"
                                            id="comments" name="comments" nbInput fullWidth
                                            placeholder="Leave Comments">
                                    </td>
                                    <td>
                                        <nb-checkbox name="isSelect" id="isSelect" status="success"
                                            [(ngModel)]="details.isSelect">
                                        </nb-checkbox>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </nb-tab>
                </nb-tabset>
            </fieldset>
        </nb-card>
    </div>
</div>