<nb-card class="actions-card">
  <nb-card-header>{{pageNavigation}}
    <ngx-common-button (click)="ButtonAction()"></ngx-common-button>
  </nb-card-header>
</nb-card>

<nb-card *ngIf="show">
  <nb-card-header class="text-right">
    <ngx-common-action (click)="agButtonAction()"></ngx-common-action>
  </nb-card-header>
  <nb-card-body>
    <div class="grid-wrapper">
      <ag-grid-angular #agGrid style="height: 500px;" id="myGrid" class="ag-theme-alpine" [modules]="modules"
        [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [debug]="true" [rowData]="rowData"
        [frameworkComponents]="frameworkComponents" (gridReady)="onGridReady($event)"
        (rowClicked)="onRowClicked($event)" rowSelection="multiple" pagination='true'>
      </ag-grid-angular>
    </div>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="!show">
  <nb-card-header>
    <fieldset [disabled]="disabled ? 'disabled' : null">
      <form #masterForm="ngForm" novalidate>

        <div class="row">
          <div class="col-6">
            <div class="form-group row">
              <label for="companyId" class="col-sm-3 col-form-label">Company Name <span>*</span></label>
              <div class="col-sm-9">
                <ng-select nbselect (change)="(master.companyId = this.$event.id); getSBU(this.$event.id)"
                  [items]="companies" name="companyId" bindLabel="name" [ngModelOptions]="{standalone: true}"
                  id="companyId" placeholder="Select Company" appendTo="body" [(ngModel)]="master.companiesSelected">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label for="dropdown" class="col-sm-3 col-form-label">SBU Name <span>*</span></label>
              <div class="col-sm-9">
                <ng-select nbselect (change)="( master.sbuId = this.$event.id)" [items]="sbus" name="sbuName"
                  bindLabel="name" [ngModelOptions]="{standalone: true}" id="sbuId" placeholder="Select SBU"
                  appendTo="body" [(ngModel)]="master.sbusSelected">
                </ng-select>
              </div>
            </div>
          </div>

          <!-- <div class="col-6">
              <div class="form-group row">
                <label for="partyTypeId" class="col-sm-3 col-form-label">Party Type Name <span>*</span></label>
                <div class="col-sm-9">
                  <ng-select nbselect (change)="(master.partyTypeId = this.$event.id);" [items]="parties"
                    name="partyTypeId" bindLabel="name" [ngModelOptions]="{standalone: true}" id="partyTypeId"
                    placeholder="Select Party Type" appendTo="body" [(ngModel)]="master.partiesSelected" readonly>
                  </ng-select>
                </div>
              </div>
            </div> -->
          <div class="col-6">
            <div class="form-group row">
              <label for="partyName" class="col-sm-3 col-form-label">Party Name <span>*</span></label>
              <div class="col-sm-9">
                <input type="text" (keyup)="getDuplicate();" class="form-control" id="partyName" required
                  [(ngModel)]="master.partyName" name="partyName" nbInput fullWidth placeholder="Party Name">
              </div>
            </div>
          </div>

          <div class="col-6" hidden>
            <div class="form-group row">
              <label for="fatherName" class="col-sm-3 col-form-label">Father Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="fatherName" required [(ngModel)]="master.fatherName"
                  name="fatherName" nbInput fullWidth placeholder="Father Name">
              </div>
            </div>
          </div>
          <div class="col-6" hidden>
            <div class="form-group row">
              <label for="motherName" class="col-sm-3 col-form-label">Mother Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="motherName" required [(ngModel)]="master.motherName"
                  name="motherName" nbInput fullWidth placeholder="Mother Name">
              </div>
            </div>
          </div>
          <div class="col-6" hidden>
            <div class="form-group row">
              <label for="nid" class="col-sm-3 col-form-label">NID</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="nid" required [(ngModel)]="master.nid" name="nid" nbInput
                  fullWidth placeholder="NID">
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label for="bin" class="col-sm-3 col-form-label">BIN</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="BIN" required [(ngModel)]="master.bin" name="BIN" nbInput
                  fullWidth placeholder="BIN">
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label for="tin" class="col-sm-3 col-form-label">TIN</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="TIN" required [(ngModel)]="master.tin" name="tin" nbInput
                  fullWidth placeholder="TIN">
              </div>
            </div>
          </div>

          <div class="col-6" hidden>
            <div class="form-group row">
              <label for="gender" class="col-sm-3 col-form-label">Gender</label>
              <div class="col-sm-9">
                <ng-select nbselect (change)="(master.gender = this.$event.id);" [items]="genderItems" name="gender"
                  bindLabel="name" [ngModelOptions]="{standalone: true}" id="gender" placeholder="Select Gender"
                  appendTo="body" [(ngModel)]="master.genderSelected">
                </ng-select>
              </div>
            </div>
          </div>

          <div class="col-6" hidden>
            <div class="form-group row">
              <label for="officeName" class="col-sm-3 col-form-label">Office Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="officeName" required [(ngModel)]="master.officeName"
                  name="officeName" nbInput fullWidth placeholder="Office Name">
              </div>
            </div>
          </div>
          <div class="col-6" hidden>
            <div class="form-group row">
              <label for="companyCategoryId" class="col-sm-3 col-form-label">Office Category</label>
              <div class="col-sm-9">
                <ng-select nbselect (change)="(master.companyCategoryId = this.$event.id);"
                  [items]="companyCategoryItems" name="companyCategoryId" bindLabel="name"
                  [ngModelOptions]="{standalone: true}" id="companyCategoryId" placeholder="Select Office Category"
                  appendTo="body" [(ngModel)]="master.companyCategorySelected">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label for="businessStartDateShow" class="col-sm-3 col-form-label">Business Start Date</label>
              <div class="col-sm-9">
                <input (ngModelChange)="getActualDate($event);" id="businessStartDateShow" required
                  [(ngModel)]="master.businessStartDateShow" name="businessStartDateShow"
                  [nbDatepicker]="businessStartDateShow" nbInput fullWidth [ngModelOptions]="{standalone: true}">
                <nb-datepicker #businessStartDateShow></nb-datepicker>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label for="creditLimit" class="col-sm-3 col-form-label">Credit Limit Amount</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="creditLimit" required [(ngModel)]="master.creditLimit"
                  name="creditLimit" nbInput fullWidth placeholder="Credit Limit"
                  [disabled]="dissabledForDepot ? 'disabled' : null">
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label for="chequeAmount" class="col-sm-3 col-form-label">Cheque Amount</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="chequeAmount" [(ngModel)]="master.chequeAmount"
                  name="chequeAmount" nbInput fullWidth placeholder="Credit Limit">
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label for="creditDays" class="col-sm-3 col-form-label">Credit Days Limit</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="creditDays" required [(ngModel)]="master.creditDays"
                  name="creditDays" nbInput fullWidth placeholder="Credit Days Limit"
                  [disabled]="dissabledForDepot ? 'disabled' : null">
              </div>
            </div>
          </div>
          <div class="col-6" hidden>
            <div class="form-group row">
              <label for="creditLimitWord" class="col-sm-3 col-form-label">Credit Limit (In word)</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="creditLimitWord" required
                  [(ngModel)]="master.creditLimitWord" name="creditLimitWord" nbInput fullWidth
                  placeholder="Credit Limit">
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label for="contactNumber" class="col-sm-3 col-form-label">Contact Number</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="contactNumber" required [(ngModel)]="master.contactNumber"
                  name="contactNumber" nbInput fullWidth placeholder="Contact Number">
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label for="contactPerson" class="col-sm-3 col-form-label">Contact Person</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="contactPerson" required [(ngModel)]="master.contactPerson"
                  name="contactPerson" nbInput fullWidth placeholder="Contact Person">
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label for="email" class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="email" required [(ngModel)]="master.email" name="email"
                  nbInput fullWidth placeholder="Email">
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group row">
              <label for="ownerName" class="col-sm-3 col-form-label">Owner Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="ownerName" required [(ngModel)]="master.ownerName"
                  name="ownerName" nbInput fullWidth placeholder="Owner Name">
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label for="country" class="col-sm-3 col-form-label">Country</label>
              <div class="col-sm-9">
                <ng-select nbselect (change)="(master.originCountryId = this.$event.id);" [items]="countryOrigins"
                  name="country" bindLabel="name" [ngModelOptions]="{standalone: true}" id="gender"
                  placeholder="Select Country" appendTo="body" [(ngModel)]="master.countryOriginSelected">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label for="addressLine" class="col-sm-3 col-form-label">Address</label>
              <div class="col-sm-9">
                <textarea type="text" class="form-control" id="addressLine" required [(ngModel)]="master.addressLine"
                  name="addressLine" nbInput fullWidth placeholder="Address"></textarea>
              </div>
            </div>
          </div>



          <div class="col-6">
            <div class="form-group row">
              <label for="hasDeed" class="col-sm-3 col-form-label"> Has Deed ?</label>
              <div class="col-sm-9">
                <div class="validation-checkboxes">
                  <nb-checkbox [(ngModel)]="master.hasDeed" name="hasDeed" status="success"></nb-checkbox>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label for="isActive" class="col-sm-3 col-form-label"> Is Active ?</label>
              <div class="col-sm-9">
                <div class="validation-checkboxes">
                  <nb-checkbox [(ngModel)]="master.isActive" name="isActive" status="success"></nb-checkbox>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </fieldset>
  </nb-card-header>
</nb-card>
<!-- <nb-card class="actions-card" *ngIf="!show">
    <nb-card-header>Market Details</nb-card-header>
    <nb-card-body>
      <fieldset>
        <form #masterForm="ngForm">
          <div class="row">
  
            <div class="col-lg-6 col-md-8 col-sm-12">
              <div class="form-group row">
                <label for="ZoneCode" class="col-sm-3 col-form-label">Zone Name</label>
                <div class="col-sm-9">
                  <ng-select nbselect (change)="zoneChange(master.zoneId = this.$event.id);" [items]="zoneList"
                    name="zoneId" bindLabel="name" [ngModelOptions]="{standalone: true}" id="zoneId"
                    placeholder="Select Zone Name" appendTo="body" [(ngModel)]="master.zoneSelected">
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-12">
              <div class="form-group row">
                <label for="RegionCode" class="col-sm-3 col-form-label">Region Name</label>
                <div class="col-sm-9">
                  <ng-select nbselect (change)="regionChange(master.regionId = this.$event.id);" [items]="RegionList"
                    name="regionId" bindLabel="name" [ngModelOptions]="{standalone: true}" id="regionId"
                    placeholder="Select Region Name" appendTo="body" [(ngModel)]="master.regionSelected">
                  </ng-select>
                </div>
              </div>
            </div>
  
            <div class="col-lg-6 col-md-8 col-sm-12">
              <div class="form-group row">
                <label for="areaId" class="col-sm-3 col-form-label">Area Name</label>
                <div class="col-sm-9">
                  <ng-select nbselect (change)="(master.areaId = this.$event.id);getterritorybyareaCode(this.$event.id);"
                    [items]="AreaList" name="areaId" bindLabel="name" [ngModelOptions]="{standalone: true}" id="areaId"
                    placeholder="Select Area Name" appendTo="body" [(ngModel)]="master.areaSelected">
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-12">
              <div class="form-group row">
                <label for="territoryId" class="col-sm-3 col-form-label">Territory
                  Name<span>*</span></label>
                <div class="col-sm-9">
                  <ng-select nbselect (change)="(master.territoryId = this.$event.id);" [items]="TerritoryList"
                    name="territoryId" bindLabel="name" [ngModelOptions]="{standalone: true}" id="territoryId"
                    placeholder="Select Territory Name" appendTo="body" [(ngModel)]="master.territorySelected">
                  </ng-select>
                </div>
              </div>
            </div>
  
  
  
          </div>
        </form>
      </fieldset>
    </nb-card-body>
  </nb-card> -->
<div class="row" *ngIf="!show" hidden>
  <div class="col-md-12 col-lg-12">
    <nb-card class="min-height">
      <fieldset [disabled]="disabled ? 'disabled' : null">
        <nb-tabset>

          <nb-tab tabTitle="Contact" class="btn-tab">

            <div class="row">
              <div class="col-6">
                <div class="form-group row">
                  <label for="mobileOne" class="col-3 col-form-label">Mobile One</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" required [(ngModel)]="master.mobileOne" id="mobileOne"
                      name="mobileOne" nbInput fullWidth placeholder="Mobile One">
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group row">
                  <label for="mobileTwo" class="col-3 col-form-label">Mobile Two</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" required [(ngModel)]="master.mobileTwo" id="mobileTwo"
                      name="mobileTwo" nbInput fullWidth placeholder="Mobile Two">
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group row">
                  <label for="emailAddress" class="col-3 col-form-label">Email</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" required [(ngModel)]="master.emailAddress" id="emailAddress"
                      name="emailAddress" nbInput fullWidth placeholder="Email">
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label" for="managerName">Manager Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" required [(ngModel)]="master.managerName" id="managerName"
                      name="managerName" nbInput fullWidth placeholder="Manager Name">
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label" for="managerContact">Manager Contact</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" required [(ngModel)]="master.managerContact"
                      id="managerContact" name="managerContact" nbInput fullWidth placeholder="Manager Contact">
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label"></label>
                  <div class="col-sm-9">
                    <button (click)="addContact(dialog)" class="btn btn-warning btn-sm"><i class="fa fa-plus"
                        aria-hidden="true"></i>
                      Add
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="grid-wrapper">
              <table class=" table table-bordered table-striped">
                <tr>
                  <th>SN</th>
                  <th>Mobile 1</th>
                  <th>Mobile 2</th>
                  <th>Email</th>
                  <th>Manager Name</th>
                  <th>Manager Contact</th>
                  <td>Action</td>
                </tr>

                <tr *ngFor="let detail of master.lstPartyContact; let rowContactIndex = index">
                  <td>{{rowContactIndex+1}}</td>
                  <td>
                    <input [(ngModel)]="detail.mobileOne" (ngModelChange)="isContactUpdated(rowContactIndex);"
                      type="text" class="form-control" id="text" name="text" nbInput fullWidth>
                  </td>
                  <td>
                    <input [(ngModel)]="detail.mobileTwo" (ngModelChange)="isContactUpdated(rowContactIndex);"
                      type="text" class="form-control" id="text" name="text" nbInput fullWidth placeholder="Text">
                  </td>

                  <td>
                    <input [(ngModel)]="detail.emailAddress" (ngModelChange)="isContactUpdated(rowContactIndex);"
                      type="text" class="form-control" id="text" name="text" nbInput fullWidth placeholder="Text">
                  </td>

                  <td>
                    <input [(ngModel)]="detail.managerName" (ngModelChange)="isContactUpdated(rowContactIndex);"
                      type="text" class="form-control" id="text" required name="text" nbInput fullWidth
                      placeholder="Text">
                  </td>

                  <td>
                    <input [(ngModel)]="detail.managerContact" (ngModelChange)="isContactUpdated(rowContactIndex);"
                      type="text" class="form-control" id="text" required name="text" nbInput fullWidth
                      placeholder="Text">
                  </td>
                  <td>
                    <button (click)="DeleteContact(rowContactIndex)" class="btn btn-danger btn-sm m-1">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                    <button (click)="EditContact(rowContactIndex)" class="btn btn-primary btn-sm m-1">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
              </table>
            </div>

          </nb-tab>

          <nb-tab tabTitle="Address" class="btn-tab">

            <div class="row">
              <div class="col-6">
                <div class="form-group row">
                  <label for="addressType" class="col-3 col-form-label">Address Type</label>
                  <div class="col-sm-9">
                    <ng-select nbselect (change)="(master.addressType = this.$event.name);" [items]="addressTypeItems"
                      name="addressType" bindLabel="name" [ngModelOptions]="{standalone: true}" id="addressType"
                      placeholder="Select Address Type" appendTo="body" [(ngModel)]="master.addressTypeSelected">
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group row">
                  <label for="division" class="col-3 col-form-label">Division</label>
                  <div class="col-sm-9">
                    <ng-select nbselect (change)="(master.division = this.$event.name);getDistrict(this.$event.id);"
                      [items]="divisionItems" name="division" bindLabel="name" [ngModelOptions]="{standalone: true}"
                      id="division" placeholder="Select division" appendTo="body" [(ngModel)]="master.divisionSelected">
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group row">
                  <label for="district" class="col-3 col-form-label">District</label>
                  <div class="col-sm-9">
                    <ng-select nbselect (change)="(master.district = this.$event.name);getThana(this.$event.id);"
                      [items]="districtItems" name="district" bindLabel="name" [ngModelOptions]="{standalone: true}"
                      id="district" placeholder="Select district" appendTo="body" [(ngModel)]="master.districtSelected">
                    </ng-select>
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label" for="thana">Thana</label>
                  <div class="col-sm-9">
                    <ng-select nbselect (change)="(master.thana = this.$event.name);" [items]="thanaItems" name="thana"
                      bindLabel="name" [ngModelOptions]="{standalone: true}" id="thana" placeholder="Select thana"
                      appendTo="body" [(ngModel)]="master.thanaSelected">
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label" for="postOffice">Post Office</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" required [(ngModel)]="master.postOffice" id="postOffice"
                      name="postOffice" nbInput fullWidth placeholder="Post Office">
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label" for="policeStation">Police Station</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" required [(ngModel)]="master.policeStation"
                      id="policeStation" name="policeStation" nbInput fullWidth placeholder="Police Station">
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label" for="houseStreet">House Street</label>
                  <div class="col-sm-9">
                    <textarea type="text" class="form-control" id="houseStreet" required
                      [(ngModel)]="master.houseStreet" name="houseStreet" nbInput fullWidth
                      placeholder="House Street"></textarea>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label"></label>
                  <div class="col-sm-9">
                    <button (click)="addAddress(dialog)" class="btn btn-warning btn-sm"><i class="fa fa-plus"
                        aria-hidden="true"></i>
                      Add
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="grid-wrapper">
              <table class=" table table-bordered table-striped">
                <tr>
                  <th style="width: 3%;">SN</th>
                  <th style="width: 10%;">Address Type</th>
                  <th style="width: 10%;">Division</th>
                  <th style="width: 10%;">District</th>
                  <th style="width: 15%;">Thana</th>
                  <th style="width: 10%;">Post Office</th>
                  <th style="width: 10%;">Police Station</th>
                  <th style="width: 24%;">House Street</th>
                  <td style="width: 8%;">Action</td>
                </tr>
                <tr *ngFor="let detailAddress of master.lstPartyAddress; let rowAddressIndex = index">
                  <td>{{rowAddressIndex+1}}</td>
                  <td>{{detailAddress.addressType}}</td>
                  <td>{{detailAddress.division}}</td>
                  <td>{{detailAddress.district}}</td>
                  <td>{{detailAddress.thana}}</td>
                  <td>
                    <input [(ngModel)]="detailAddress.postOffice" (ngModelChange)="isAddressUpdated(rowAddressIndex);"
                      type="text" class="form-control" nbInput fullWidth>
                  </td>
                  <td>
                    <input [(ngModel)]="detailAddress.policeStation"
                      (ngModelChange)="isAddressUpdated(rowAddressIndex);" type="text" class="form-control" nbInput
                      fullWidth>
                  </td>
                  <td>
                    <input [(ngModel)]="detailAddress.houseStreet" (ngModelChange)="isAddressUpdated(rowAddressIndex);"
                      type="text" class="form-control" nbInput fullWidth>
                  </td>
                  <td>
                    <button (click)="DeleteAddress(rowAddressIndex)" class="btn btn-danger btn-sm m-1">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                    <button (click)="editAddress(rowAddressIndex)" class="btn btn-primary btn-sm m-1">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
              </table>
            </div>

          </nb-tab>

          <nb-tab tabTitle="Bank" class="btn-tab">

            <div class="row">
              <div class="col-6">
                <div class="form-group row">
                  <label for="bankId" class="col-3 col-form-label">Bank Name</label>
                  <div class="col-sm-9">
                    <ng-select nbselect (change)="(master.bankId = this.$event.id);" [items]="bankItems" name="bankId"
                      bindLabel="name" [ngModelOptions]="{standalone: true}" id="bankId" placeholder="Select Bank"
                      appendTo="body" [(ngModel)]="master.bankSelected">
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group row">
                  <label for="bankBranchName" class="col-3 col-form-label">Bank Branch Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" required [(ngModel)]="master.bankBranchName"
                      id="bankBranchName" name="bankBranchName" nbInput fullWidth placeholder="Bank Branch Name">
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group row">
                  <label for="bankAccName" class="col-3 col-form-label">Bank Acc. Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" required [(ngModel)]="master.bankAccName" id="bankAccName"
                      name="bankAccName" nbInput fullWidth placeholder="Bank Acc. Name">
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="form-group row">
                  <label for="bankAccNo" class="col-3 col-form-label">Bank Acc. Number</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" required [(ngModel)]="master.bankAccNo" id="bankAccNo"
                      name="bankAccNo" nbInput fullWidth placeholder="Bank Acc. Number">
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label"></label>
                  <div class="col-sm-9">
                    <button (click)="addBank(dialog)" class="btn btn-warning btn-sm"><i class="fa fa-plus"
                        aria-hidden="true"></i>
                      Add
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-wrapper">
              <table class="table table-bordered table-striped">
                <tr>
                  <th>SN</th>
                  <th>Bank Name</th>
                  <th>Bank Branch</th>
                  <th>Account Name</th>
                  <th>Account Number</th>
                  <td>Action</td>
                </tr>
                <tr *ngFor="let detailBank of master.lstPartyBank; let rowBankIndex = index">
                  <td>{{rowBankIndex+1}}</td>
                  <td>
                    {{detailBank.bankName}}
                    <input [(ngModel)]="detailBank.partyBankId" type="number" nbInput hidden>
                  </td>
                  <td>
                    <input [(ngModel)]="detailBank.bankBranchName" (ngModelChange)="isBankUpdated(rowBankIndex);"
                      type="text" class="form-control" nbInput fullWidth>
                  </td>
                  <td>
                    <input [(ngModel)]="detailBank.bankAccName" (ngModelChange)="isBankUpdated(rowBankIndex);"
                      type="text" class="form-control" nbInput fullWidth>
                  </td>
                  <td>
                    <input [(ngModel)]="detailBank.bankAccNo" (ngModelChange)="isBankUpdated(rowBankIndex);" type="text"
                      class="form-control" nbInput fullWidth placeholder="Text">
                  </td>
                  <td>
                    <button (click)="DeleteBank(rowBankIndex)" class="btn btn-danger btn-sm m-1">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                    <button (click)="EditBank(rowBankIndex)" class="btn btn-primary btn-sm m-1">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </nb-tab>
        </nb-tabset>
      </fieldset>
    </nb-card>
  </div>
</div>