<nb-card class="actions-card">
  <nb-card-header>{{pageNavigation}}
    <ngx-common-button (click)="ButtonAction()"></ngx-common-button>
  </nb-card-header>
</nb-card>

<nb-card *ngIf="show">
  <nb-card-header class="text-right">
    <ngx-common-action (click)="agButtonAction()"></ngx-common-action>
  </nb-card-header>
  <nb-card-body>
    <div class="row" hidden>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="salesInvoiceDate">From Date <span>*</span></label>
          <div class="col-sm-8">
            <input required [(ngModel)]="loadFromDateShow" name="loadFromDateShow" id="loadFromDateShow"
              [nbDatepicker]="idatepicker" nbInput fullWidth placeholder="Date" [ngModelOptions]="{standalone: true}">
            <nb-datepicker #idatepicker></nb-datepicker>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="salesInvoiceDate">To Date <span>*</span></label>
          <div class="col-sm-8">
            <input required [(ngModel)]="loadToDateShow" name="loadToDateShow" id="loadToDateShow"
              [nbDatepicker]="idatepicker2" nbInput fullWidth placeholder="Date" [ngModelOptions]="{standalone: true}">
            <nb-datepicker #idatepicker2></nb-datepicker>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group row !important">
          <button class="btn btn-info" (click)="GetGridData();">Search</button>
        </div>
      </div>
    </div>

    <div class="grid-wrapper">
      <ag-grid-angular #agGrid style="height: 500px;" id="myGrid" class="ag-theme-alpine" [modules]="modules"
        [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [debug]="true" [rowData]="rowData"
        [frameworkComponents]="frameworkComponents" (gridReady)="onGridReady($event)"
        (rowClicked)="onRowClicked($event)" rowSelection="multiple" pagination='true'>
      </ag-grid-angular>
    </div>

  </nb-card-body>
</nb-card>



<div class="row" *ngIf="!show">
  <div class="col-md-12" *ngIf="!disabled">
    <nb-card>
      <nb-card-header>
        <fieldset>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label" for="fromDate">Select Any Date<span
                    class="text-danger">*</span></label>
                <div class="col-sm-10 col-md-10">
                  <input required [(ngModel)]="master.fromDate" name="fromDate" id="fromDate" [nbDatepicker]="fromDate"
                    nbInput fullWidth placeholder="From Date" [ngModelOptions]="{standalone: true}">
                  <nb-datepicker #fromDate></nb-datepicker>
                </div>
                <div class="col-sm-2 col-md-2" *ngIf="!editMode">
                  <button class="btn btn-success btn-block" type="button" id="detailsButton" (click)="addDetails()"><i class="fa fa-plus"
                    aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </nb-card-header>
    </nb-card>

  </div>

  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="grid-wrapper">
          <table class=" table table-bordered table-striped">
            <tr>
              <th>#</th>
              <th>Week No</th>
              <th>From Date</th>
              <th>To Date</th>
              <th>Target (%)</th>
            </tr>

            <tr *ngFor="let details of master.lstWeeklyTargetPercentage; let rowIndex = index">
              <td>{{rowIndex + 1}}</td>
              <td>{{details.weekNo}}</td>
              <td>{{details.startDate}}</td>
              <td>{{details.endDate}}</td>
              <td style="text-align: right;">
                <input type="number" class="form-control" required [(ngModel)]="details.tgPercent" [ngModelOptions]="{standalone: true}" (keyup)="calculateTotal()" [readOnly]="disabled"
                  name="tgPercent" nbInput fullWidth placeholder="Target Percentage">
              </td>
            </tr>
            <tr>
              <td colspan="4" style="text-align: right;">Total:</td>
              <td style="text-align: right;">{{totalTarget}}%</td>
            </tr>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
