<nb-card class="actions-card">
  <nb-card-header>{{pageNavigation}}
    <ngx-common-button (click)="ButtonAction()"></ngx-common-button>
  </nb-card-header>
</nb-card>

<nb-card *ngIf="show">
  <nb-card-header class="text-right">
    <ngx-common-action (click)="agButtonAction()"></ngx-common-action>
  </nb-card-header>
  <nb-card-body>
    <div class="grid-wrapper">
      <ag-grid-angular #agGrid style="height: 500px;" id="myGrid" class="ag-theme-alpine" [modules]="modules"
        [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [debug]="true" [rowData]="rowData"
        [frameworkComponents]="frameworkComponents" (gridReady)="onGridReady($event)"
        (rowClicked)="onRowClicked($event)" rowSelection="multiple" pagination='true'>
      </ag-grid-angular>
    </div>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="!show">
  <nb-card-header>
    <fieldset [disabled]="disabled ? 'disabled' : null">
      <form #masterForm="ngForm" novalidate>

        <div class="row">
          <div class="col-4">
            <div class="form-group row">
              <label for="currencyName" class="col-sm-5 col-form-label">Currency Name <span>*</span></label>
              <div class="col-sm-7">
                <input type="text" (keyup)="getDuplicate();" class="form-control" id="currencyName" required [(ngModel)]="master.currencyName"
                  name="currencyName" nbInput fullWidth placeholder="Currency Name">
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group row">
              <label for="aliasName" class="col-sm-5 col-form-label">Alias Name</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" id="currencyName" required [(ngModel)]="master.aliasName"
                  name="aliasName" nbInput fullWidth placeholder="Alias Name">
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group row">
              <label for="conversionRate" class="col-sm-5 col-form-label">Conversion Rate</label>
              <div class="col-sm-7">
                <input type="number" class="form-control" id="conversionRate" required
                  [(ngModel)]="master.conversionRate" name="conversionRate" nbInput fullWidth
                  placeholder="Conversion Rate">
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group row">
              <label for="" class="col-sm-5 col-form-label"> Is Active ?</label>
              <div class="col-sm-7">
                <div class="validation-checkboxes">
                  <nb-checkbox [(ngModel)]="master.isActive" name="checkbox" status="success"></nb-checkbox>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </fieldset>
  </nb-card-header>
</nb-card>