<nb-card class="actions-card">
  <nb-card-header>{{pageNavigation}}
    <ngx-common-button (click)="ButtonAction()" hidden></ngx-common-button>
  </nb-card-header>

   <nb-card-body>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="form-group row">
                    <label for="search_productCategoryId" class="col-sm-4 col-form-label">Category</label>
                    <div class="col-sm-8">
                        <ng-select nbselect
                            (change)="(master.search_productCategoryId = this.$event.id);"
                            [items]="productCategoryList" name="search_productCategoryId" bindLabel="name"
                            [ngModelOptions]="{standalone: true}" id="search_productCategoryId"
                            placeholder="Select Product Category" appendTo="body"
                            [(ngModel)]="master.search_productCategorySelected"
                            [disabled]="disabled ? 'disabled' : null" required>
                        </ng-select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="search_skuNumber">Product Number</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" required [(ngModel)]="master.search_skuNumber"
                                    id="search_skuNumber" name="search_skuNumber" nbInput fullWidth placeholder="Product Number">
                            </div>
                        </div>
                    </div>
            <div class="col-lg-4 col-md-8 col-sm-12">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="search_partslink">Partslink</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" required [(ngModel)]="master.search_partslink"
                            id="search_partslink" name="search_partslink" nbInput fullWidth placeholder="Partslink">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-12">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="search_interchange">Interchange</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="master.search_interchange"
                            id="search_interchange" name="search_interchange" nbInput fullWidth placeholder="Interchange">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-12">
                <div class="form-group row">
                    <label for="search_yearId" class="col-sm-4 col-form-label">Year</label>
                    <div class="col-sm-8">
                        <ng-select [items]="search_yearItems" (change)="(master.search_yearId = this.$event.id);" name="search_yearId"
                            bindLabel="name" [ngModelOptions]="{standalone: true}" id="search_yearId"
                            placeholder="Select Year" appendTo="body" [(ngModel)]="master.search_yearSelected">
                        </ng-select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-12">
                <div class="form-group row">
                    <label for="search_makeId" class="col-sm-4 col-form-label">Make</label>
                    <div class="col-sm-8">
                        <ng-select nbselect
                            (change)="(master.search_makeId = this.$event.id);getMakeModelByMakeId(this.$event.id);"
                            [items]="makeList" name="search_makeId" bindLabel="name"
                            [ngModelOptions]="{standalone: true}" id="search_makeId"
                            placeholder="Select Make" appendTo="body"
                            [(ngModel)]="master.search_makeSelected"
                            [disabled]="disabled ? 'disabled' : null" required>
                        </ng-select>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-8 col-sm-12">
                <div class="form-group row">
                    <label for="search_makeModelId" class="col-sm-4 col-form-label">Model</label>
                    <div class="col-sm-8">
                        <ng-select nbselect (change)="(master.search_makeModelId = this.$event.id);"
                            [items]="makeModelList" name="search_makeModelId" bindLabel="name"
                            [ngModelOptions]="{standalone: true}" id="search_makeModelId"
                            placeholder="Select Model" appendTo="body"
                            [(ngModel)]="master.search_makeModelSelected"
                            [disabled]="disabled ? 'disabled' : null" required>
                        </ng-select>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="form-group row">
                    <button class="btn btn-primary" nbButton (click)="loadPricingGrid();">Load Data</button>
                </div>
            </div>
        </div>
    </nb-card-body>

</nb-card>

<!-- <nb-card *ngIf="show">
    <nb-card-header class="text-right">
        <ngx-common-action (click)="agButtonAction()"></ngx-common-action>
    </nb-card-header>
    <nb-card-body>
        <div class="grid-wrapper">
            <ag-grid-angular #agGrid style="height: 500px;" id="myGrid" class="ag-theme-alpine" [modules]="modules" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [debug]="true" [rowData]="rowData" [frameworkComponents]="frameworkComponents" (gridReady)="onGridReady($event)"
                (rowClicked)="onRowClicked($event)" rowSelection="multiple" pagination='true'>
            </ag-grid-angular>
        </div>
    </nb-card-body>
</nb-card> -->

<nb-card>
  <nb-card-header>
    <fieldset>
      <!-- <div class="grid-wrapper">
        <table class=" table table-bordered table-striped"> -->
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table id="simple_table" class="table table-bordered table-striped mb-0">
          <thead>
            <tr>
              <th style="width: 5%;">SN</th>
              <th style="width: 35%;">Product Name</th>
              <th style="width: 10%;">Barcode No.</th>
              <th style="width: 5%;">UOM</th>
              <th style="width: 10%;">Avg. Purchase Price</th>
              <th style="width: 15%;">Min. Sales Price</th>
              <th style="width: 20%;">Price (TK)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of master.lstDetailsViewModel; let rowIndex = index">
              <td>{{rowIndex+1}}</td>
              <td>
                {{item.productName}}
              </td>
              <td>
                <ngx-barcode [bc-value]="item.barcodeNo" [bc-display-value]="true" id="barcodeNo" name="barcodeNo"
                  [bc-width]="1.2" [bc-height]="40" [bc-font-size]="15">
                </ngx-barcode>
              </td>
              <td>
                {{item.uomName}}
              </td>
              <td>
                {{item.avgPurchasePrice}}
              </td>
              <td>
                <!-- {{item.minimumSalePrice}} -->
                <input [(ngModel)]="item.minimumSalePrice" (change)="validatePrice(rowIndex)" type="number"
                  class="form-control text-right" id="minimumSalePrice" name="minimumSalePrice" required fullWidth
                  placeholder="Min. Price">
              </td>
              <td>
                <input [(ngModel)]="item.price" (change)="validatePrice(rowIndex)" type="number"
                  class="form-control text-right" id="price" name="price" required fullWidth placeholder="enter price">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </fieldset>
  </nb-card-header>
</nb-card>
