span {
    color: red;
}

pre {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-wrap;
}

.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center;
    background-color: darkseagreen;
}

/* Just common table stuff. Really. */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 4px 8px;
}

th {
    background: #eee;
}